= simple_form_for [ :admin, @page ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :title
  
  = f.association :author, collection: @users, label_method: lambda { |user| user.profile.full_name if user.profile.present? }, value_method: :id, include_blank: true, :prompt => "Choose an Author"
  
  = f.association :category, collection: @categories,label_method: :name, value_method: :id, include_blank: true,:prompt => "Choose a Category"
  
  = f.input :unpublished, as: :radio_buttons, :checked =>  @page.unpublished?
  = f.input :show_title, as: :radio_buttons, :checked => @page.show_title?
  = f.input :slug

  = f.input :body, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Full' }
  .form-actions
    = styled_form_button( @page.new_record? ? 'create' : 'update')
    = styled_form_button 'reset'
