.widget-content.nopadding
  %table.table.table-bordered
    %thead
      %tr
        %th Page Title
        %th Slug
        %th Link
        %th Published
        %th Category
        %th Actions
    %tbody
      -unless @pages.blank?
        -@pages.each do |page|
          %tr
            %td= page.title
            %td= page.slug
            %td= pages_path(page)
            %td.center_it= (page.unpublished) ? "No" : "Yes"
            %td= page.category.name if page.category
            %td.center_it
              = styled_button 'show', page_path(page)
              = styled_button 'edit', edit_admin_page_path(page)
              = styled_button 'delete', admin_page_path(page), method: :delete, confirm: 'Are You Sure!'
      -else
        %tr
          %td{:colspan=>4} No records found

- content_for :pagination, (paginate @pages, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_page_path)