.content{:style => "width:1000px;"}
  .contentBox
    .content.kidbox
      %h2.blue.box-title.no-bottom January Kidbox Products
      .products-arrows
        %a.prev{:href => ""}
        %a.next{:href => ""}
      .clear
      -unless @products.blank?
        - @products.each do |product|
          .product
            %img.kidbox-product-img{:alt => "", :src => "/assets/kidbox-product-image.png"}
              %h3.product-title.blue=h product.name
              %br
              %h3.product-info=h product.description
              %p.rate-it
                %a.rate-active{:href => ""}
                %a.rate-active{:href => ""}
                %a{:href => ""}
                %a{:href => ""}
                %a{:href => ""}
                %span.rating Very Good
    #comment-box
      .comment-product
        %img.kidbox-product-img{:alt => "", :src => "/assets/kidbox-product-image.png"}
          %p.product-info
            What do you think about
            %br
              Babo Botanicals ?
          %br.clear
            %p We Want to know! Leave feedback and earn rewards!
            %form#product-comment
              %textarea
              %input{:type => "submit", :value => "Submit"}