.testing
	%span.blue_heading3{:style => 'font-family:Arial'}= "Total added to cart: $#{number_with_precision(@total_price, :precision => 2)} "
	%br 
	= " [ #{@total_boxes.to_i.to_s} kidboxes X" 
	= "#{@package.name} - $#{number_with_precision(@package.price, :precision => 2)}]"