.optionrow2
	.optionrow1
		%a.button.rounded{:href => url_for({:controller => "kidboxes", :action => "subscribe", :box_id => @kidbox.id, :gift => "gift"})}
			%img{:alt => "Get It", :height => "17", :src => "assets/giftIcon.png", :width => "15"}
				Gift Another Box
				%img{:alt => "", :height => "11", :src => "assets/right_arrow.png", :width => "33"}  
		%a.button.rounded{:href => url_for({:controller => "kidboxes", :action => "subscribe", :box_id => @kidbox.id})}                     
			%img{:alt => "Get It", :height => "18", :src => "assets/getbox.png", :width => "16"}
				Get a Box
				%img{:alt => "", :height => "11", :src => "assets/right_arrow.png", :width => "33"}
		