.content.smaller
  / Content goes here
  .topHeading
    %img{:alt => "KidBox", :height => "145", :src => "assets/kidBoxHeading.png", :width => "348"}/
  .topPhoto.kidbox
    = image_tag(@kidbox.box_image, :alt => "KidBox", :height => "170", :width => "220")
  .clear
  = @kidbox.description.html_safe
  %br/
  - if @kidbox.offer
    = link_to content_tag(:div,nil,class: 'specialLaunchOffer', style: "top:600px; left:500px;"), ''
  #flipbox{:style => 'text-align:right;float:right;margin-top: -135px;', :rev => "#FFF"}
    = image_tag('/assets/special_offer.png')
  
  %p.textAlignCenter
    = link_to image_tag('/assets/getIcon.png') + "Get It", url_for({:controller => "kidboxes", :action => "subscribe", :box_id => @kidbox.id}), :class => 'button rounded big'
    = link_to image_tag('/assets/giftIcon.png') + "Gift It", url_for({:controller => "kidboxes", :action => "subscribe", :box_id => @kidbox.id, :gift => "gift"}), :class => 'button rounded big'
  %br/
  %br/
  %br/
  %br/
  %br/
  %p.textAlignCenter.links_display_block
    %a{:href => page_path('how-kidboxes-work')}
      = image_tag 'how_kid_boxes_work.png'
    %a{:href => new_users_invitation_path}
      = image_tag 'invite_friends2.png'
    %a#partner_brands{:href => '#partner_brands_content'}
      = image_tag 'see_our_partner_brands.png'
    %a#past_kidboxes{:href => '#past_kidboxes_content'}
      = image_tag 'see_a_past_kidboxes.png'

    / %a.button.edgy.arrowed{:href => new_users_invitation_path}
    /   Invite Friends
    /   %img{:alt => "Invite Friends", :height => "24", :src => "assets/inviteFriendsIcon.png", :width => "45"}/
    / %a.button.edgy.arrowed{:href => "/pages/how-kidboxes-work"}
    /   How KidBoxes Work
    /   %img{:alt => "How KidBoxes Work", :height => "24", :src => "assets/boxesWorkIcon.png", :width => "24"}/
    / %a.button.edgy.arrowed#past_kidboxes{:href => "#past_kidboxes_content"}
    /   Check Out Past KidBoxes
    /   %img{:alt => "Check Out Past KidBoxes", :height => "25", :src => "assets/checkOutIcon.png", :width => "30"}/
    / %a.button.edgy.arrowed#partner_brands{:href => "#partner_brands_content" }
    /   LaLaaLu Partner Brands
    /   %img{:alt => "LaLaaLu Partner Brands", :height => "27", :src => "assets/partnersIcon.png", :width => "19"}/

  / Content ends here
  %div{:style => "display: none"}
    #past_kidboxes_content{:style => "width:480px; height:auto ; overflow:auto; text-align:left"}
      %div
        %h1.blue_heading Check back in January to see what was in our December box...


  %div{:style => "display: none"}
    #partner_brands_content{:style => "width:480px; height:auto ; overflow:auto; text-align:left"}
      %div
        .fancybox_title Our Brand Partners
        .brand_wrap
          = @settings.partner_brands.html_safe if @settings.partner_brands.present?
