-# content_for :styles do
  =# stylesheet_link_tag "style1"
.content.smaller
  = form_for :subscription, :url=>{:action=>"create", :controller=>"user_subscriptions"}, :method=>"post", :html => {:id => "subscription_select"} do |f|
    .black_heading Select from the following options:
    %br
    .optionrow1
      - @agegroup.each do |age|
        .optioncoloum1.listbox
          = f.select age.id, (0..3).collect {|p| [ "#{p}", p ] }
          = age.group_name
          = hidden_field_tag :subscription_box_id, @kidbox.id
    .optionrow2
      %br
      = hidden_field_tag :gift, true if params[:gift].present?
      - if !params[:gift].present?
        - Package.order(:id).each do |package|
          .optionrow1
            .radiocolumn
              = radio_button_tag 'package', package.id, @package == package, :class => 'regular-radio', :checked => false if Package.first == package
              = radio_button_tag 'package', package.id, @package == package, :class => 'regular-radio' unless Package.first == package
              = label_tag 'package_' + package.id.to_s, ''
              %br/
            .radiocolumn_value
              = package.name
              %br/
              %span.small_value renews monthly automatically until cancelled
      - else
        - Package.giftpackage.order(:id).each do |package|
          .optionrow1
            .radiocolumn
              = radio_button_tag 'package', package.id, @package == package, :class => 'regular-radio', :checked => false if Package.first == package
              = radio_button_tag 'package', package.id, @package == package, :class => 'regular-radio' unless Package.first == package
              = label_tag 'package_' + package.id.to_s, ''
              %br/
            .radiocolumn_value
              = package.name
              %br/  
              %span.small_value does not auto renew
    .optionrow2
      - if !params[:gift].present?
        / .blue_heading2 c)
        .optionrow1
          .total
          %br
          .optionrow1
            %div
            = f.submit "Add To Cart", :class => 'add_to_cart new_button rounded grey'
            - if !params[:gift].present?
              = link_to image_tag('/assets/giftIcon.png') + "Gift A Box" + image_tag('/assets/right_arrow.png'), url_for({:controller => "kidboxes", :action => "subscribe", :box_id => @kidbox.id, :gift => "gift"}), :class => 'button rounded'   
              -if session[:subscription_id].present? && !params[:gift].present?
                %a.button.rounded{:href => user_subscription_path(session[:subscription_id])}
                  %img{:alt => "Get It", :height => "20", :src => "assets/cart.png", :width => "20"}
                    Continue to Cart
                    %img{:alt => "", :src => "assets/right_arrow.png"}
        .optionrow2
          / .blue_heading2 d)
          .optionrow1
           
      
        / %a.button.rounded{:href => "#"}
        /   %img{:alt => "Get It", :height => "20", :src => "assets/cart.png", :width => "20"}
        /     Continue to Cart
        /     %img{:alt => "", :src => "assets/right_arrow.png"}         
      .optionrow1
        .c_optioncoloum
          - if params[:gift].present?
            / .blue_heading2 c)
            %table{:border => "0", :cellpadding => "5", :cellspacing => "0", :width => "100%"}
              %tr
                %td{:align => "right", :valign => "middle"} Recipient Name
                %td{:align => "left", :valign => "middle"}= text_field_tag :rec_name, '', :required => ''
              %tr
                %td{:align => "right", :valign => "middle"} Recipient Address
                %td{:align => "left", :valign => "middle"}
                  %textarea{:name => "rec_address", :style => "height:70px", :required => ''}
              %tr
                %td{:align => "right", :valign => "middle"} Postal Code
                %td{:align => "left", :valign => "middle"}= text_field_tag :rec_postal_code, '', :required => ''
              %tr
                %td{:align => "right", :valign => "middle"} City
                %td{:align => "left", :valign => "middle"}= text_field_tag :rec_city, '', :required => ''
              %tr
                %td{:align => "right", :valign => "middle"} State
                %td{:align => "left", :valign => "middle"}
                  .state_id
                    = select_tag 'rec_state_id', grouped_options_for_select(@states)
              %tr
                %td{:align => "right", :valign => "middle"} Recipient Phone
                %td{:align => "left", :valign => "middle"}= text_field_tag :rec_phone, '', :required => ''
              %tr
                %td{:align => "right", :valign => "middle"} Recipient Email
                %td{:align => "left", :valign => "middle"}= text_field_tag :rec_email, '', :required => '', :type => :email
              %tr
                %td{:align => "right", :valign => "middle"} Message to Recipient
                %td{:align => "left", :valign => "middle"}
                  %textarea{:name => "rec_message", :style => "height:70px", :required => ''}
        .d_optioncoloum
          - if params[:gift].present?
            / .blue_heading2 d)
            .total
            .optionrow2
              .radiocolumn
                %input#checkbox-1-1.regular-checkbox{:type => "radio", :value => 'recepient', :name => 'delivery'}/
                %label{:for => "checkbox-1-1"}
              .radiocolumn_value.small Deliver Gift to Recipient via Email Gift Card
            .optionrow2
              .radiocolumn
                %input#checkbox-1-2.regular-checkbox{:type => "radio", :value => 'user', :name => 'delivery'}/
                %label{:for => "checkbox-1-2"}
              .radiocolumn_value.small Send Email Gift Card to Me (so I can bring it with me)
            .optionrow1
              %div
                / %img{:alt => "Get It", :height => "20", :src => "assets/cart.png", :width => "20"}
                = f.submit "Add To Cart", :class => 'add_to_cart new_button rounded grey'
      - if params[:gift].present? &&
        %a.button.rounded{:href => url_for({:controller => "kidboxes", :action => "subscribe", :box_id => @kidbox.id})}                     
          %img{:alt => "Get It", :height => "18", :src => "assets/getbox.png", :width => "16"}
            Get a Box
            %img{:alt => "", :height => "11", :src => "assets/right_arrow.png", :width => "33"}
      -if params[:gift].present? && session[:subscription_id].present? 
        %a.button.rounded{:href => user_subscription_path(session[:subscription_id])}
          %img{:alt => "Get It", :height => "20", :src => "assets/cart.png", :width => "20"}
            Continue to Cart
            %img{:alt => "", :src => "assets/right_arrow.png"}
     
        /=render 'sectione'
