- content_for :title, 'FAQs'
.content.smaller
	%h3.blue_heading FAQs
	.clear
	%ol.faqs{:style => "list-style: decimal"}
		-@faqs.each_with_index do |faq,i|
			%li
				.faq
					%p.question
						%span
						=  faq.question
					%p.answer= faq.answer