-content_for :title, "Blog" 
.content_left
	-if @posts.present?
		-@posts.each do |page|
			.orange_heading= page.title
			.share_this
			%span.st_facebook_vcount{:displayText => "Facebook"}
			%span.st_email_vcount{:displayText => "Email"}
			%span.st_google_vcount{:displayText => "Google"}
			%span.st_twitter_vcount{:displayText => "Tweet"}
			%span.st_linkedin_vcount{:displayText => "LinkedIn"}
			%span.st_pinterest_vcount{:displayText => "Pinterest"}

			.optionrow2
				%a.blog_links{:href => "#"}= page.author ? page.author.profile.full_name : 'N/A'
				%a.blog_links{:href => "#"}= page.created_at.strftime('%e %B')
				/%a.blog_links{:href => "#"} Family
				%div{:style => "float:right"}
					= link_to 'Leave a Comment', blog_path(page, anchor: 'comment' ), class: 'blog_links'
			.optionrow2
				%p=# truncate(page.body, :length => 500, :omission => '<br/><a class="read_more" href="' + blog_path(page) + '"><p >Click Here to Read Article...</p></a>').html_safe
				%p= strip_tags(truncate(page.body, :length => 700))
				%p= link_to "Click Here to Read Article...", blog_path(page), class: 'orange'
				%hr
	-else
		%h3.orange There are not posts in this category. 
		=#Please create a new blog category and add some pages to it.
