-content_for :title, "Blog - #{@page.title}" 
.content_left
	-if @page.present?
		%h3.blue_heading= @page.title 
		.share_this
			%span.st_facebook_vcount{:displayText => "Facebook"}
			%span.st_email_vcount{:displayText => "Email"}
			%span.st_google_vcount{:displayText => "Google"}
			%span.st_twitter_vcount{:displayText => "Tweet"}
			%span.st_linkedin_vcount{:displayText => "LinkedIn"}
			%span.st_pinterest_vcount{:displayText => "Pinterest"}
			
			.optionrow2
				%a.blog_links{:href => "#"}= @page.author ? @page.author.profile.full_name : 'N/A'
				%a.blog_links{:href => "#"}= @page.created_at.strftime('%e %B') #3 November
				/%a.blog_links{:href => "#"} Family
				%div{:style => "float:right"}
					= link_to 'Leave a Comment', blog_path(@page, anchor: 'comment' ), class: 'blog_links'

		%p= @page.body.html_safe
		%a{name: 'comment'}
		#disqus_thread
		:javascript
			var disqus_shortname = 'lalaalu123'; // required: replace example with your forum shortname

			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		%noscript
			Please enable JavaScript to view the
			%a{:href => "https://disqus.com/?ref_noscript"} comments powered by Disqus.
		%a.dsq-brlink{:href => "https://disqus.com"}
			comments powered by
			%span.logo-disqus Disqus
	-else
		%p Error