= simple_form_for [ :admin, @curator ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :names
  = f.input :kid_ages
  = f.input :picture_string, as: :file
  = f.input :summary
  = f.input :details, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Full' }
  
  .form-actions
    = styled_form_button( @curator.new_record? ? 'create' : 'update')
    = styled_form_button 'reset'
