.widget-content.nopadding
  %table.table.table-bordered
    %thead
      %tr
        %th Names
        %th Kid Ages
        %th Actions
    %tbody
      -unless @curators.blank?
        -@curators.each do |curator|
          %tr
            %td= curator.names
            %td= curator.kid_ages
            %td.center_it
              = styled_button 'edit', edit_admin_family_curator_path(curator)
              = styled_button 'delete', admin_family_curator_path(curator), method: :delete, confirm: 'Are You Sure!'
      -else
        %tr
          %td{:colspan=>4} No records found

- content_for :pagination, (paginate @curators, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_family_curator_path)