- content_for :title, 'Profile'
.content
  %h1.page_title
    My Profile
  .profile_image#user_avatar
    = profile_image

    = form_for(resource.profile, :as => "profile", :url => profile_path(resource.profile), :html => { :method => :put }) do |f|
      = f.file_field :avatar, :style => "display:none;"
      %a{:href => "#", :id => "upload_avatar_link"}Upload new image
    =# render 'devise/friends'
  .profile
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      .profile_fields
        .info
          = render 'devise/profile_fields', f: f
          = f.input :password, :autocomplete => "off", hint: 'leave blank if you don\'t want to change it'
          = f.input :email
          = f.input :password_confirmation   
        .clear
      %hr.dotted_border
      .spouse
        = f.simple_fields_for :spouse do |s|
          = render 'users/spouses/spouse_fields', f: s
          .action
            - unless current_user.spouse.new_record?
              = s.hidden_field :_destroy, as: :boolean
              = link_to 'Delete', '#', class: 'rounded button orange_button delete_spouse'
      
      .children_form
        %fieldset
          = f.simple_fields_for :children do |c|
            = render 'users/children/child_fields', f: c
          .add_child
            = link_to_add_fields "Add Child", f, :children, 'users/children/child_fields'
      .clear
      %hr.dotted_border
      .favourites_form
        %fieldset
          = f.fields_for :favourite do |fav|
            = render 'users/favourites/favourite_fields', fav: fav
      
      / .passwords
      /   %fieldset
      /     %legend
      /       %h1.page_title Change Password
      /     .change_password
      /   = f.input :current_password, hint: 'we need your current password to confirm your changes'
      .action
        = f.submit "Update", class: 'rounded button orange_button'
        = link_to 'Cancel' , root_url, class: 'rounded button orange_button'