/ .content.smaller
/ 	%h2 Sign up
/ 	= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
/ 		= devise_error_messages!
/ 		= f.input :email
/ 		= f.input :password, :as => :password
/ 		= f.input :password_confirmation, :as => :password
/ 		= f.submit "Sign up", :class => "button big rounded blue"
/ 	= render "links"