.radiocolumn .regular-radio {
    display: inline;
}
.optionrow1 .radiocolumn label, div.radiocolumn  label{
    display: none;
}

#footer div.q3.tos ul li{
	padding-right:16px;
	padding-left:16px;
}

a.rounded.button{
	margin-right:2px;
}

.radiocolumn  label{
    display: none;
}

.radiocolumn input.regular-checkbox{
    display: inline-block;
}


