= simple_form_for [ :admin, @brand ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :name, as: :string
  = f.input :description, as: :text
  = f.input :brand_image, as: :file      
  .form-actions
    = @brand.new_record? ? (styled_form_button 'create') : (styled_form_button 'update')
    = styled_form_button 'reset'