.widget-content.nopadding
  %table.table.table-bordered
    %tr
      %th Name
      %th Description
      %th Actions
    - unless @brands.blank?
      - @brands.each do |brand|
        %tr
          %td= h brand.name
          %td= h brand.description
          %td.center_it
            = styled_button 'show', admin_brand_path(brand)
            = styled_button 'edit', edit_admin_brand_path(brand)
            = styled_button 'delete', admin_brand_path(brand), method: :delete, confirm: 'Are You Sure!'
    - else
      %tr
        %td{:colspan=>3} No records found

- content_for :pagination, (paginate @brands, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_brand_path)
