.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Name
				%td= @brand.name
			%tr
				%td Description
				%td= strip_tags @brand.description
			%tr
				%td Image
				%td= image_tag @brand.brand_image_url(:thumb) if @brand.brand_image?
			%tr
				%td Products
				%td
					%ol
						- @brand.products.each do |product|
							%li= link_to product.name, admin_product_path(product)
			%tr
				%td
				%td
					= styled_button 'back', admin_brands_path
					= styled_button 'edit', edit_admin_brand_path(@brand)
					= styled_button 'delete', admin_brand_path(@brand), method: :delete, confirm: 'Are You Sure!'


