= simple_form_for [:admin, @faq], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :question
  = f.input :answer, 	as: :text
  = f.input :visible, as: :radio_buttons
  .form-actions
    = @faq.new_record? ? (styled_form_button 'create') : (styled_form_button 'update')
    = styled_form_button 'reset'