.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%th Question
				%th Answer
				%th Visible
				%th Action
			%tbody
				- @faqs.each do |faq|
					%tr
						%td= faq.question 
						%td= faq.answer 
						%td.center_it= faq.visible ? 'Yes' : 'No' 
						%td.center_it
							= styled_button 'show', admin_faq_path(faq)
							= styled_button 'edit', edit_admin_faq_path(faq)
							= styled_button 'delete', admin_faq_path(faq), method: :delete, confirm: 'Are You Sure!'

- content_for :pagination, (paginate @faqs, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_faq_path)
