.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Question
				%td= @faq.question
			%tr
				%td Answer
				%td= @faq.answer
			%tr
				%td Visible
				%td= @faq.visible ? 'Yes' : 'No'
			%tr
				%td
				%td
					= styled_button 'back', admin_faqs_path
					= styled_button 'edit', edit_admin_faq_path(@faq)
					= styled_button 'delete', admin_faq_path(@faq), method: :delete, confirm: 'Are You Sure!'


