= render :layout => 'devise/forgot_layout' do
	%h2 Resend confirmation instructions
	= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|

		= f.input :email
		.action
			= f.submit 'Submit –>', class: 'button rounded'
