.post
  = form_for @user_subscription do |f|
    - @agegroup.each do |age|
      = select(:subscription, age.id, (0..100).collect {|p| [ "#{p}", p ] },:selected => @user_subscription.line_items.find_by_agegroup_id(age.id).qty )
      = age.group_name			
    = hidden_field_tag :subscription_box_id, @kidbox.id
    %br
    - Package.all.each.each do |package|
      = radio_button_tag 'package', package.id, @package == package, :checked => @user_subscription.package_id
      = package.name
    %br
    - if @user_subscription.recipient_detail.present?
      = label_tag "Name"
      = text_field_tag :rec_name, @user_subscription.recipient_detail.name
      %br
      = label_tag "Email"
      = text_field_tag :rec_email, @user_subscription.recipient_detail.email
      %br
      = label_tag "Phone"
      = text_field_tag :rec_phone, @user_subscription.recipient_detail.phone
      %br
      = label_tag "Address"
      = text_area_tag :rec_address, @user_subscription.recipient_detail.address
    %br
    = f.submit "Add To Cart"
  .total