- content_for :styles do
  = stylesheet_link_tag "style1"
.content.smaller
  .blue_heading Final Verification of Order
  .description{:style => "width:80%;"}
    / .blue_heading1 Name
    -boxes = @user_subscription.line_items.where(:gift_it => false).includes(:agegroup, :package).order(:package_id)
    -if boxes.count > 0
      .black_heading Get It -  Package Description
      - boxes.each do |li|
        .optionrow
          = li.qty
          x
          = "#{li.agegroup.group_name} - #{li.package.name}"
          %br
            %span{:style => "padding-left:30px"}= "$ #{number_with_precision(li.price, :precision => 2)}"
            
      .optionrow2
        .leftcoloum Shipping Address:
        .rightcoloum
          = text_area_tag nil, @user_subscription.shipping_address, :disabled => true, :style => "height:65px; width: 186px"
  - gifted_boxes = @user_subscription.line_items.where(:gift_it => true).includes(:agegroup, :package)
  -if gifted_boxes.count > 0
    .description{:style => "width:80%;"}
      .black_heading Gift It - Package Description
      - gifted_boxes.each do |li|
        .optionrow
          = li.qty
          x
          = "#{li.agegroup.group_name} - #{li.package.name}"
          %br
            %span{:style => "padding-left:30px"}= "$ #{number_with_precision(li.price, :precision => 2)}"

      %span{:style => "padding-left:30px"} - Recipient Name:
      = @user_subscription.recipient_detail.name rescue nil
      %br
      %span{:style => "padding-left:30px"} - Recipient Email:
      = @user_subscription.recipient_detail.email rescue nil
      %br
      .optionrow2
        .leftcoloum Shipping Address:
        .rightcoloum
          = text_area_tag nil, @user_subscription.recipient_detail.final_address, :disabled => true, :style => "height:65px; width: 186px"

  .description{:style => "width:80%;color:#FF3DA3;"}
    %p= "Order Total (incl NYS sales tax): $#{number_with_precision(@user_subscription.total, :precision => 2)}"
  .description{:style => "width:80%;"}
    .black_heading Credit Card Info
    %table{:border => "0", :cellpadding => "5", :cellspacing => "0", :width => "70%"}
      %tbody
        %tr
          %td{:align => "right", :valign => "top", :width => "70%"} Type of Card
          %td{:align => "left", :valign => "middle"}
            .card_bg
              %img{:alt => "", :height => "21", :src => "/assets/visa.jpg", :width => "36"}
                %input.card_rb{:name => "radiobutton", :type => "radio", :value => "radiobutton", :checked => @stripetoken.card.type == 'Visa' || nil}
                  %img{:alt => "", :height => "21", :src => "/assets/mc.jpg", :width => "38"}
                    %input.card_rb{:name => "radiobutton", :type => "radio", :value => "radiobutton", :checked => @stripetoken.card.type == 'MasterCard' || nil}
                      %img{:alt => "", :height => "21", :src => "/assets/ae.jpg", :width => "38"}
                        %input.card_rb{:name => "radiobutton", :type => "radio", :value => "American Express", :checked => @stripetoken.card.type == 'American Express' || nil}
        %tr
          %td{:align => "right", :valign => "middle"} Name on Card
          %td{:align => "left", :valign => "middle"}
            = text_field_tag nil, @stripetoken.card.name, :disabled => true
        %tr
          %td{:align => "right", :valign => "middle"} Card Number
          %td{:align => "left", :valign => "middle"}
            = text_field_tag nil, "**********#{@stripetoken.card.last4}", :disabled => true
        %tr
          %td{:align => "right", :valign => "middle"} Security Code
          %td{:align => "left", :valign => "middle"}
            %input{:name => "textfield23", :style => "width:100px", :disabled => true, :value => @stripetoken.card.type == 'Visa' ? "****" : "***"}
              %a.blue_link2{:href => "#"} what is this?
        %tr
          %td{:align => "right", :valign => "middle"} Expiry Date
          %td{:align => "left", :valign => "middle"}
            .listbox
              %span
                %input{:name => "textfield23", :style => "width:35px", :disabled => true, :value => @stripetoken.card.exp_month}
                %input{:name => "textfield23", :style => "width:40px", :disabled => true, :value => @stripetoken.card.exp_year}
        %tr
          %td{:align => "right", :valign => "middle"} Billing Address:
          %td{:align => "left", :valign => "middle"}
            = text_area_tag nil, @user_subscription.billing_address, :disabled => true, :style => "height:70px; width: 180px"
  .checkout_btn 
    = link_to ("Submit Order" + image_tag('/assets/white_arrow.png')).html_safe, url_for({:controller => "user_subscriptions", :action => "final_verification", :my_id => @user_subscription.id}), :class => 'blue_button rounded', :style => 'margin-top:20px'