- content_for :styles do
  = stylesheet_link_tag "style1"
.content.smaller
  .blue_heading Payment Information
  .black_heading Credit Card Info

  = form_for [ @user_subscription ], :html=>{:id=>"stripe_subscription"} do |f|
    = f.hidden_field :stripe_card_token
    = f.hidden_field :stripe_customer_token
    #flash_alert{:style => "position:relative;"}
      #stripe_error
    = f.hidden_field :subscription_id, :value => @user_subscription.package_id
    - if @user_subscription.stripe_card_token.present?
      Credit card has been provided.
    - else
      %table{:border => "0", :cellpadding => "5", :cellspacing => "0", :width => "50%"}
        %tr
          %td{:align => "right", :valign => "top", :width => "70%"} Type of Card
          %td{:align => "left", :valign => "middle"}
            .card_bg
              %img{:alt => "", :height => "21", :src => "/assets/visa.jpg", :width => "36"}
                %input.card_rb{:name => "radiobutton", :type => "radio", :value => "radiobutton"}
                  %img{:alt => "", :height => "21", :src => "/assets/mc.jpg", :width => "38"}
                    %input.card_rb{:name => "radiobutton", :type => "radio", :value => "radiobutton"}
                      %img{:alt => "", :height => "21", :src => "/assets/ae.jpg", :width => "38"}
                        %input.card_rb{:name => "radiobutton", :type => "radio", :value => "radiobutton"}
        %tr
          %td{:align => "right", :valign => "middle"} Name on Card
          %td{:align => "left", :valign => "middle"}= text_field_tag :cardholder_name, nil, name: nil
          %td{:align => "right", :valign => "middle"} 
            %img{:src=>"/assets/RapidSSL_SEAL-90x50.gif", :style => "position:absolute;"}
        %tr
          %td{:align => "right", :valign => "middle"} Card Number
          %td{:align => "left", :valign => "middle"}= text_field_tag :card_number, nil, name: nil
        %tr
          %td{:align => "right", :valign => "middle"} Security Code
          %td{:align => "left", :valign => "middle"}
            = text_field_tag :card_code, nil, name: nil
            %a.blue_link2{:href => "#"} what is this?
        %tr
          %td{:align => "right", :valign => "middle"} Expiry Date
          %td{:align => "left", :valign => "middle"}
            .listbox
              %span{:style => 'float:left;'}
                = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: :listbox, style: 'width:115px;font-size:12px'}
              %span
                = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: :listbox, :style => 'font-size:12px'}
    .optionrow2
      .radiocolumn
        %input#checkbox-1-1.regular-checkbox{:type => "checkbox"}/
        %label{:for => "checkbox-1-1"}
      .radiocolumn_value{:style => "width:530px;font-size: 9px;"} 
        Yes, please keep this information in my account for future orders and / or recurring charges.
        %br
        Note: Credit Card information is automatically saved for future billing when you purchase a subscription for yourself. Please note all payments are run through a secured channel.
      .description
        .black_heading Billing Address
        .optionrow2
          .radiocolumn
            %input#ship_same_addr.regular-checkbox{:type => "checkbox", :name => 'ship_same_addr'}/
            %label{:for => "ship_same_addr"}
          .radiocolumn_value Check Box if same as shipping
        %table#billing_address{:border => "0", :cellpadding => "5", :cellspacing => "0", :width => "70%"}
          %tr
            %td{:align => "right", :valign => "middle", :width => "70%"} Address
            %td{:align => "left", :valign => "middle"}
              = text_field_tag :billing_address, current_user.profile.street_address
          %tr
            %td{:align => "right", :valign => "middle"} Zip Code
            %td{:align => "left", :valign => "middle"}
              = text_field_tag :zip_code, current_user.profile.postal_code
          %tr
            %td{:align => "right", :valign => "middle"} Contact Number
            %td{:align => "left", :valign => "middle"}
              = text_field_tag :contact_no, current_user.profile.phone_cell
        
        /.optionrow2
        /  = text_area_tag :old_address, @user_subscription.shipping_address
      / .description
      /   .optionrow1{:style => "padding:0 0 0 80px"}
      /     %img{:alt => "", :src => "/assets/paypal.png"}/
      /   .optionrow1
      /     %strong or
      /     %a.button.rounded{:href => "#"}
      /       Check out with
      /       %span{:style => "color:#0080FF"} PayPal
      /       %img{:alt => "", :height => "11", :src => "/assets/right_arrow.png", :width => "33"}
    .checkout_btn 
      = f.submit "Checkout", :class => 'checkout new_button rounded blue_button'
    /= f.submit 'Checkout'
    /%img{:alt => "", :src => "/assets/white_arrow.png"}
    
      