- content_for :styles do
  = stylesheet_link_tag "style1"
%script
  function enableText(){ 
  document.getElementById('address_changed_address').disabled= false;
  document.getElementById('address_changed_address').focus();
  }
  function enableText1(){ 
  document.getElementById('address_changed_address_gift').disabled= false;
  document.getElementById('address_changed_address_gift').focus();
  }
  function validateForm(){ 
  document.getElementById('address_changed_address').disabled= false;
  document.getElementById('address_changed_address_gift').disabled= false;
  }
.content.smaller
  .blue_heading KidBox Cart
  = form_for :address, :url => {:controller => "user_subscriptions", :action => "continue_checkout"}, :html=>{:onsubmit=>"validateForm();"} do |f|
    - if @user_subscription.line_items.where(:gift_it => false).count > 0 
      .description
        .black_heading Get It -  Package Description
        - @user_subscription.line_items.includes(:agegroup, :package).where(:gift_it => false).order(:package_id).each do |li|
          .optionrow{:style => 'margin-left: 20px;'}
            = link_to (image_tag '/assets/close.png'), line_item_path(li), :method =>  :delete, :class => "blue_link", :style => 'position:absolute;margin-left:-25px'
            = li.qty
            x
            = "#{li.agegroup.group_name} - #{li.package.name}"
            %br
              %span{:style => "padding-left:30px"}= "Total: $#{number_with_precision(li.price, :precision => 2)}"
            
        /- if @user_subscription.box.coupon.present? && !@user_subscription.discount
        /  .optionrow2
        /    Promo Code:
        /    = f.text_field :promo_code
        .optionrow2
          %a.blue_link{:href => get_box_path(@user_subscription.box.id.to_s)} Add to Order
        .optionrow2
          .leftcoloum Shipping Address:
          .rightcoloum
            - user_profile = @user_subscription.user.profile
            = f.text_area :changed_address, :disabled => true, :style => "height:70px", :value => user_address(user_profile)
            %p{:style => 'font-size:11px;'} 
              Default is address on account. To edit address,
              %a.blue_link2{:href => "#", :onclick => "javascript:enableText();"} Click here
    - if @user_subscription.line_items.includes(:agegroup, :package).where(:gift_it => true).count > 0 
      .description
        .black_heading Gift It - Package Description
        - @user_subscription.line_items.where(:gift_it => true).includes(:agegroup, :package).each do |li|
          .optionrow
            .optionrow{:style => 'margin-left: 20px;'}
              = link_to (image_tag '/assets/close.png'), line_item_path(li), :method =>  :delete, :class => "blue_link", :style => 'position:absolute;margin-left:-25px'
              = li.qty
              x
              = "#{li.agegroup.group_name} - #{li.package.name}" 
              %br
                %span{:style => "padding-left:30px"}= "Total: $#{number_with_precision(li.price, :precision => 2)}"
        %span{:style => "padding-left:30px"} - Recipient Name
        = @user_subscription.recipient_detail.name rescue nil
        %br
        %span{:style => "padding-left:30px"} - Recipient Email
        = @user_subscription.recipient_detail.email rescue nil
        / - if @user_subscription.box.coupon.present? && !@user_subscription.discount
        /   .optionrow2
        /     Promo Code:
        /     = f.text_field :promo_code_gift
        .optionrow2
          %a.blue_link{:href => get_box_path(@user_subscription.box.id.to_s, true)} Add to Order
        .optionrow2
          .leftcoloum Shipping Address:
          .rightcoloum
            - if @user_subscription.recipient_detail.nil?
              -user_profile = user_subscription.user.profile
              = f.text_area :changed_address_gift, :disabled => false, :style => "height:70px", :value => user_address(user_profile)
            - else
              = f.text_area :changed_address_gift, :disabled => false, :style => "height:70px", :value => recipient_address(@user_subscription)
            %p{:style => 'font-size:11px;'} 
    .optionrow2
      %b Total With NY Sales Tax(8.875%) :
      = "$ #{number_with_precision(@user_subscription.get_total,  :precision => 2)}"
    .optionrow2
      = f.submit "Continue To Payment Info", :class => 'continue_to_payment new_button rounded blue_button'
      /%img{:alt => "", :src => "/assets/white_arrow.png"}