#msg_slideshow.msg_slideshow
  #msg_wrapper.msg_wrapper
  #msg_controls.msg_controls
    / right has to animate to 15px, default -110px
    %a#msg_grid.msg_grid{:href => "#"}
    %a#msg_prev.msg_prev{:href => "#"}
    %a#msg_pause_play.msg_pause{:href => "#"}
    / has to change to msg_play if paused
    %a#msg_next.msg_next{:href => "#"}
  #msg_thumbs.msg_thumbs
    / top has to animate to 0px, default -230px
    .msg_thumb_wrapper
      %a{:href => "#"}
        %img{:alt => "/assets/images/1.jpg", :src => "/assets/images/thumbs/1.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/2.jpg", :src => "/assets/images/thumbs/2.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/3.jpg", :src => "/assets/images/thumbs/3.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/4.jpg", :src => "/assets/images/thumbs/4.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/5.jpg", :src => "/assets/images/thumbs/5.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/6.jpg", :src => "/assets/images/thumbs/6.jpg"}/
    .msg_thumb_wrapper{:style => "display:none;"}
      %a{:href => "#"}
        %img{:alt => "/assets/images/7.jpg", :src => "/assets/images/thumbs/7.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/8.jpg", :src => "/assets/images/thumbs/8.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/9.jpg", :src => "/assets/images/thumbs/9.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/10.jpg", :src => "/assets/images/thumbs/10.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/11.jpg", :src => "/assets/images/thumbs/11.jpg"}/
      %a{:href => "#"}
        %img{:alt => "/assets/images/12.jpg", :src => "/assets/images/thumbs/12.jpg"}/
    %a#msg_thumb_next.msg_thumb_next{:href => "#"}
    %a#msg_thumb_prev.msg_thumb_prev{:href => "#"}
    %a#msg_thumb_close.msg_thumb_close{:href => "#"}
    %span.msg_loading
    / show when next thumb wrapper loading

