.content{:style => "width:1000px;"}
  .full-box
    %h1.page_title.orenge.box-title
      My Calender
      %span
    %p.orenge-box-name.box-name Week Beginning
    .orenge-box.box
  .half-box
    %h2.pink.box-title
      The City Scoop
      %span
    %p.pink-box-name.box-name Check out the Latest!
    .pink-box.box
      = render 'slider'
    .clear
  / half-box
  .half-box.last
    %h2.blue.box-title
      KidBoxes
      %span
    %p.blue-box-name.box-name Get a Sneak Peek at December's KidBox!
    .blue-box.box
      .product-image
        %img{:alt => "", :src => "/assets/product-image.png"}
          %br
            You have a gift!
            %a{:href => ""} Redeem it now!
      .product-des
        %a{:href => ""}
          %img{:alt => "", :src => "/assets/get-it-btn.png"}/
        %a{:href => ""}
          %img{:alt => "", :src => "/assets/gift-it-btn.png"}/
        %br
          %p
            %a{:href => users_box_path(@box)} Rate and Review Products
          %p.rate-it
            %span{:style => "float:left;margin-right:10px;"} Rate it:
            %a.rate-active{:href => ""}
            %a.rate-active{:href => ""}
            %a{:href => ""}
            %a{:href => ""}
            %a{:href => ""}
            %span.rating Very Good
    .clear
  / half-box last
  .half-box
    %h2.pink.box-title
      Park Talk
      %span
    %p.pink-box-name.box-name My Latest Conversation
    .pink-box.box
      .friend-image
        %img{:alt => "", :src => "/assets/photo.png"}
          %a.friend-name{:href => ""} Frank Little
          %a.connect-btn{:href => ""} Connect
      .msg-baloon
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .msg-bottom
          %a.replay-btn{:href => ""} Replay
          %a.replay-text{:href => ""} View Replaies &gt;&gt;
        %span.baloon-arrow
    .clear
  / half-box
  .half-box.last
    %h2.box-title &nbsp;
    %p.orenge-box-name.box-name Recent Friends
    .orenge-box.box
      .friend-image
        %img{:alt => "", :src => "/assets/photo.png"}
          %a.friend-name{:href => ""} Frank Little
          %a.connect-btn{:href => ""} Connect
      .msg-baloon
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .msg-bottom
          %a.replay-btn{:href => ""} Replay
          %a.replay-text{:href => ""} View Replaies &gt;&gt;
        %span.baloon-arrow
  .clear

