- content_for :title, 'Order Receipts'
=javascript_include_tag 'orders'
.content.smaller
	%h1.blue_heading Order Reciepts
	.print_wrap
		%a.mail2.icon
		Lalaalu will email you this confirmation.
		%span{:style => "float:right"}
			%a.print.icon{:href => "javascript:printReceipt();"}
	
	.receipt_wrap#receipt_wrap
		.black_heading{:style => "margin-bottom:20px"}
			LALAALU ORDER RECEIPT  
			=@order.id
			%span{:style => "float:right; text-align:right"}= @order.created_at.strftime("%d/%m/%y")
    	
		.black_heading= @order.user.profile.full_name.titleize
		- boxes = @order.line_items.where(:gift_it => false).includes(:agegroup, :package).order(:package_id)
		- if boxes.count > 0
			.black_heading Get It -  Package Description
			- boxes.each do |li|
				.optionrow
					= "#{li.qty} x #{li.agegroup.group_name} - #{li.package.name}"
					%br
					%span{:style => "padding-left:30px"}= "- #{li.package.name} = $#{number_with_precision(li.price, :precision => 2)}"
			.optionrow2
				.leftcoloum Shipping Address:
				.rightcoloum{:style => "line-height:16px"}
					=nl2br(@order.shipping_address)
					%br
					='T: %s.%s.%s' % [ @order.contact_no[0,3], @order.contact_no[3,3], @order.contact_no[6,4] ]
		-gifted_boxes = @order.line_items.where(:gift_it => true).includes(:agegroup, :package)
		-if gifted_boxes.count > 0
			.description2
				.black_heading Gift It -  Package Description
				- gifted_boxes.each do |li|
					.optionrow
					= "#{li.qty} x #{li.agegroup.group_name} - #{li.package.name}"
					%br
					%span{:style => "padding-left:30px"}= "- #{li.package.name} = $#{number_with_precision(li.price, :precision => 2)}"
				.optionrow2
					.leftcoloum Shipping Address:
					.rightcoloum{:style => "line-height:16px"}
						=nl2br(@order.recipient_detail.final_address)
						%br
						='T: %s.%s.%s' % [ @order.recipient_detail.phone[0,3], @order.recipient_detail.phone[3,3], @order.recipient_detail.phone[6,4] ] 

		%p= "Order Total (incl NYS sales tax): $#{number_with_precision(@order.total, :precision => 2)}"
		.description2{:style => "border-bottom:none"}
			.black_heading Credit Card Info
			%table{:border => "0", :cellpadding => "5", :cellspacing => "0", :width => "70%"}
				%tbody
					%tr
						%td{:align => "left", :valign => "top", :width => "50%"} Type of Card:
						%td{:align => "left", :valign => "middle"}= @billing.card.type
					%tr
						%td{:align => "left", :valign => "middle"} Name on Card:
						%td{:align => "left", :valign => "middle"}= @billing.card.name
					%tr
						%td{:align => "left", :valign => "middle"} Card Number:
						%td{:align => "left", :valign => "middle"}= "**********#{@billing.card.last4}"
					%tr
						%td{:align => "left", :valign => "middle"} 3-Digit Security Code:
						%td{:align => "left", :valign => "middle"} ***
					%tr
						%td{:align => "left", :valign => "middle"} Expiry Date:
						%td{:align => "left", :valign => "middle"}= "#{format('%02d', @billing.card.exp_month)}/#{@billing.card.exp_year}"
					%tr
						%td{:align => "left", :valign => "middle"} Billing Address:
						%td{:align => "left", :valign => "middle"}
							= nl2br(@order.billing_address)
							%br
							= 'T: ' + '%s.%s.%s' % [ @order.contact_no[0,3], @order.contact_no[3,3], @order.contact_no[6,4] ]
				