= simple_form_for [ :admin, @box ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :name, as: :string
  = f.input :price, as: :integer
  = f.input :start_date, as: :string, :input_html => {:class => "datepicker", :readonly => true}
  = f.input :end_date, as: :string, :input_html => {:class => "datepicker", :readonly => true}
  = f.input :description, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Full' }
  = f.input :box_image, as: :file
  = f.input :active, as: :boolean
  = f.input :offer, as: :boolean
  .input.control-group.optional
    = f.label "Products"
    - @products.each do |product|
      = check_box_tag 'box[product_ids][]', product.id, @box.product_ids.include?(product.id)
      = product.name
      
  .input.control-group.boolean.optional
    = f.label "Age Group"
    .controls
      - @agegroup.each do |agegroup|
        = check_box_tag 'box[agegroup_ids][]', agegroup.id, @box.agegroup_ids.include?(agegroup.id)
        = agegroup.group_name
  .form-actions
    = styled_form_button( @box.new_record? ? 'create' : 'update')
    = styled_form_button 'reset'
