.widget-content.nopadding
  %table.table.table-bordered
    %thead
      %tr
        %th Name
        %th Price
        %th Start Date
        %th End Date
        %th Actions
      %tbody
        -unless @boxes.blank?
          - @boxes.each do |box|
            %tr
              %td= h box.name
              %td= h box.price
              %td= h box.start_date
              %td= h box.end_date
              %td
                = styled_button 'show', admin_box_path(box)
                = styled_button 'edit', edit_admin_box_path(box)
                = styled_button 'delete', admin_box_path(box), method: :delete, confirm: 'Are You Sure!'
        -else
          %tr
            %td{:colspan=>4} No records found

- content_for :new_record, (styled_button 'new', new_admin_box_path)