.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Name:
				%td= @box.name
			%tr
				%td Start Date:
				%td= @box.start_date
			%tr
				%td End Date
				%td= @box.end_date
			%tr
				%td Image
				%td= image_tag @box.box_image_url(:thumb) if @box.box_image?
			%tr
				%td Products:
				%td
					%ul
						- @box.products.each do |product|
							%li= product.name
			%tr
				%td Agegroups:
				%td
					%ul
						- @box.agegroups.each do |agegroup|
							%li= agegroup.group_name
			%tr
				%td
				%td
					= styled_button 'back', admin_boxes_path
					= styled_button 'edit', edit_admin_box_path(@box)
					= styled_button 'delete', admin_box_path(@box), method: :delete, confirm: 'Are You Sure!'


