.userNav
  .nav
    .name 
      = image_tag current_user.profile.avatar_url(:thumb).to_s if current_user.profile.avatar_url
      %span
        Hi,
        = current_user.profile.full_name
    .links
      %ul
        %li.page-options
          %a.my-page{:href => "/users/dashboard"} My Page
          %ul.sub-option
            %li
              %a{:href => ""} My Calender
            %li
              %a{:href => ""} The City Scoop
            %li
              %a{:href => ""} Our Brands
            %li
              %a{:href => "/users/boxes"} Kid Boxes
            %li
              %a{:href => ""} Park Talk
            %li
              %a{:href => ""} The Neighborhood
      %ul
        %li
          %span
          = link_to 'My Profile', edit_user_registration_path
        %li
          %span
          = link_to 'My Friends', users_friendships_path
        %li
          %span
          = link_to "My Messages (#{user_msgs})", "/users/messages?tab=inbox"
        %li
          %span
          = link_to 'Logout', users_messages_path