.widget-content.nopadding
  %table.table.table-bordered
    %tr
      %th User Name
      %th Subscription
      %th AgeGroup 
      %th Stripe Customer token
      %th Box
      %th Payment status
      %th Actions
    - unless @orders.blank?
      - @orders.each do |order|
        %tr
          %td= h order.user.email rescue ""
          %td= h order.package.name  rescue ""
          %td
            - order.line_items.each do |age|
              = h age.agegroup.group_name
              %br
          %td= h order.stripe_customer_token rescue ""
          %td= h order.box.name rescue ""
          %td.center_it= link_to format_boolean(order.paymentstatus?), {:controller => 'admin/orders', :action => 'toggled_status', :id => order.id} 
          %td= link_to "See Invoice", admin_order_path(order)
    - else
      %tr
        %td{:colspan=>3} No records found


