.invoice-content
  .invoice-head
    .invoice-meta
      Invoice ID:
      %span.invoice-number= @stripe_charge.id
      %span.invoice-date Date: 2012-07-15
    %h5 Invoice Title/Subject
    .invoice-to
      %ul
        %li
          %span
            %strong From
          %span Lalaalu
          %span 244, Soranda Street,
          %span New Morleno.
    .invoice-from
      %ul
        %li
          %span
            %strong To
          %span= @order.user.profile.full_name
          %span= @order.billing_address
          %span
  %div
    %table.table.table-bordered
      %thead
        %tr
          %th
            Package
          %th
            Title
          %th
            Price Each
          %th
            Total
      %tfoot
        %tr
          %th.total-label{:colspan => "3"}
            Total:
          %th.total-amount= "$#{@order.total}"
      %tbody
        -@order.line_items.each do |li|
          %tr
            %td=li.id.to_s
            %td= "#{li.qty} X #{li.agegroup.group_name} #{li.agegroup.group_name} "
            %td= "$#{li.price}"
            %td= "$#{li.price * li.qty}"
  %p.amount-word
    Amount in Word:
    %span= "#{@order.total}"
  %h5 A heading
  %p
    Nam pharetra sodales tincidunt. Phasellus posuere faucibus tempus. Ut dapibus ullamcorper nulla, ac pellentesque purus tincidunt nec. Ut non leo nec erat venenatis pharetra.
  %p.help-block
    %strong Note:
    Nam pharetra sodales tincidunt. Phasellus posuere faucibus tempus. Ut dapibus ullamcorper nulla, ac pellentesque purus tincidunt nec. Ut non leo nec erat venenatis pharetra.