.btn-group
	%a.btn.btn-large.tip-bottom{href: admin_pages_path,:title => "Manage Pages"}
		%i.icon-file
	%a.btn.btn-large.tip-bottom{href: admin_users_path ,:title => "Manage Users"}
		%i.icon-user
	%a.btn.btn-large.tip-bottom{:title => "Manage Comments"}
		%i.icon-comment
		%span.label.label-important 5
	%a.btn.btn-large.tip-bottom{href: admin_orders_path ,:title => "Manage Orders"}
		%i.icon-shopping-cart