#breadcrumb
	%a.tip-bottom{:href => "/admin/#{controller.controller_name}", :title => "Go to Home"}
		%i.icon-home
		= controller.controller_name.capitalize
	- unless controller.action_name == 'index'
		%a.current{:href => "#"} 
			= controller.action_name.capitalize