- [:alert, :notice, :error].each do |type|
	- if flash[type].present?
		-css_class = "alert-info" if type == :alert
		-css_class = "alert alert-error" if type == :error
		-css_class = "alert alert-success" if type == :notice
		%div{:class => "alert #{css_class}", :style => "margin: 0;" }
			%button.close{"data-dismiss" => "alert"} ×
			= flash[type]