#sidebar
  / %a.visible-phone{:href => "#"}
  /   %i.icon.icon-home
  /   Dashboard
  %ul
    =# link_li 'icon','name',url (optional)
    = link_li 'icon-eject', 'front end', root_url
    =# link_li 'icon-home', 'home', admin_pages_path
    %li.submenu
      %a{:href => "#"}
        %i{:class => "icon icon-th-list"}
        %span CMS
        %span{:class => :label} 6
      %ul{:style => "display:none"}
        = link_li 'icon-file', 'pages'
        = link_li 'icon-th-list', 'categories'
        = link_li 'icon-envelope', 'feeds'
        = link_li 'icon-question-sign', 'faqs'
        = link_li 'icon-question-sign', 'family_curators'
        = link_li 'icon-question-sign', 'blog_posts'
        = link_li 'icon-question-sign', 'city_scopes'
        
    = link_li 'icon-user', 'users'
    = link_li 'icon-user', 'agegroups'
    = link_li 'icon-gift', 'boxes'
    = link_li 'icon-tag', 'brands'
    = link_li 'icon-tags', 'products'
    = link_li 'icon-shopping-cart', 'orders'
    = link_li 'icon-thumbs-down', 'coupons'
    = link_li 'icon-shopping-cart', 'subscriptions'
    = link_li 'icon-wrench', 'settings'