#user-nav.navbar.navbar-inverse
  %ul.nav.btn-group
    %li.btn.btn-inverse
      = link_to content_tag(:i, nil, class: 'icon icon-user').concat('Profile'), admin_user_path(0,profile: 'my')
    %li#menu-messages.btn.btn-inverse.dropdown
      %a.dropdown-toggle{"data-target" => "#menu-messages", "data-toggle" => "dropdown", :href => "#"}
        %i.icon.icon-envelope
        %span.text Messages
        %span.label.label-important 5
        %b.caret
      %ul.dropdown-menu
        %li
          %a.sAdd{:href => "#", :title => ""} new message
        %li
          %a.sInbox{:href => "#", :title => ""} inbox
        %li
          %a.sOutbox{:href => "#", :title => ""} outbox
        %li
          %a.sTrash{:href => "#", :title => ""} trash
    %li.btn.btn-inverse
      = link_to content_tag(:i, nil, class: 'icon icon-cog').concat('Settings'), admin_settings_path
    %li.btn.btn-inverse
      = link_to content_tag(:i,nil, class: 'icon icon-share-alt').concat(content_tag(:span, 'Logout',class: 'text')), destroy_user_session_path, method: :delete