= simple_form_for [:admin, @feed], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :title
  = f.input :content, 	as: :text
  = f.input :visible, as: :radio_buttons
  .form-actions
    = @feed.new_record? ? (styled_form_button 'create') : (styled_form_button 'update')
    = styled_form_button 'reset'