.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%th Title
				%th Content
				%th Visible
				%th Action
			%tbody
				- @feeds.each do |feed|
					%tr
						%td= feed.title.truncate 50
						%td= strip_tags(feed.content).truncate(50)
						%td.center_it= feed.visible ? 'Yes' : 'No' 
						%td.center_it
							= styled_button 'show', admin_feed_path(feed)
							= styled_button 'edit', edit_admin_feed_path(feed)
							= styled_button 'delete', admin_feed_path(feed), method: :delete, confirm: 'Are You Sure!'

- content_for :pagination, (paginate @feeds, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_feed_path)
