.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Question
				%td= @feed.title
			%tr
				%td Answer
				%td= raw @feed.content
			%tr
				%td Visible
				%td= @feed.visible ? 'Yes' : 'No'
			%tr
				%td
				%td
					= styled_button 'back', admin_feeds_path
					= styled_button 'edit', edit_admin_feed_path(@feed)
					= styled_button 'delete', admin_feed_path(@feed), method: :delete, confirm: 'Are You Sure!'


