= render :layout => 'devise/forgot_layout' do
  %h2 Change your password
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = f.input :reset_password_token, :as => :hidden

    = f.input :password
    = f.input :password_confirmation
    .action
      = f.submit 'Submit –>', class: 'button rounded'
