.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Title
				%td= @child.profile.title
			%tr
				%td First Name
				%td= @child.profile.first_name
			%tr
				%td Last Name
				%td= @child.profile.last_name
			%tr
				%td Sex
				%td= @child.profile.sex
			%tr
				%td Birthday
				%td= @child.profile.make_birthday
			%tr
				%td Hobbies
				%td= @child.profile.hobbies
			%tr
				%td= @user.spouse ? 'Parents' : 'Parent'
				%td
					= link_to( @user.profile.full_name, admin_user_path(@user), class: 'btn btn-mini')
					= link_to( @user.spouse.profile.full_name, admin_user_spouse_path(@user,@user.spouse), class: 'btn btn-mini')