.content.smaller
	%h1.page_title Join Cont'd
	%h2 Optional information 
	%p (fill in to receive special offers and gifts from LaLaalu)
	%br
	%br 
	%p.orange Children
	.children_form
		= simple_form_for @user, url: users_child_path(@user) do |f|
			= f.error_notification
			= f.simple_fields_for :children do |child|
				= render 'child_fields', f: child
			.add_child
				= link_to_add_fields "+ Add Child", f, :children

			/ .favourites
			/ 	%p Our Family's Favourite Kids Products
			/ 	= f.simple_fields_for :favourite do |fav|
			/ 		= fav.input :kid_products,label: false, hint: '*insert a comma between each of your top 3 or more'

			= link_to '<- Back',new_users_spouse_path, class: 'rounded button blue_button'
			= f.submit 'Next ->', class: 'rounded button blue_button'
	
	%img{:src => "/assets/step3.png"}
