= simple_form_for [ :admin , @city_scope ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :redirect_url, as: :string
  = f.input :upload, as: :file
  
  .form-actions
    = @city_scope.new_record? ? (styled_form_button 'create') : (styled_form_button 'update')
    = styled_form_button 'reset'