.widget-content.nopadding
  %table.table.table-bordered
    %tr
      %th Redirect Url
      %th Image Url
    - unless @city_scopes.blank?
      - @city_scopes.each do |scope|
        %tr
          %td= h scope.redirect_url
          %td= h scope.image_url
          %td.center_it
            = styled_button 'show', admin_city_scopes_path(scope)
            = styled_button 'edit', edit_admin_city_scope_path(scope)
            = styled_button 'delete', admin_city_scope_path(scope), method: :delete, confirm: 'Are You Sure!'
    - else
      %tr
        %td{:colspan=>3} No records found

- content_for :new_record, (styled_button 'new', new_admin_city_scope_path)