.content
  / Content goes here
  .topGrayBox
    The Daily Insider for the parents and kids who call NYC home
    %br
    100% city parent-curated and 100% customizable
    %br
    %h2
      Get Out and Giggle!
  .topPhoto.bordered
    = image_tag 'topPhoto.png', size: '200x160'
  .clear
  %b
    %p.centeredPadded
      Discover 
      %span.gray the inside scoop 
      on products other city parents can't live without, find out what events and activities will have your kids giggling with glee, and get down, dirty and intimate with the only other adults that will truly understand (and only judge a little).
    %p.centeredPadded Ready to get out and giggle? Click below:

  %br/
  %br/
  %br/

  .q3
    = link_to image_tag('/assets/kidBox.png',alt: 'kidBox'), kidboxes_path
    %br/  
    %p Coolest new kids stuff delivered monthly to your door(man). 
    %p Just in time for the Holidays!
    %br{:style => "margin-top:8px;"}
    = link_to image_tag('/assets/getIcon.png') + "Get It", url_for({:controller => "kidboxes", :action => "subscribe", :box_id => @kidbox.id}), :class => 'button rounded'
    = link_to image_tag('/assets/giftIcon.png') + "Gift It", url_for({:controller => "kidboxes", :action => "subscribe", :box_id => @kidbox.id, :gift => "gift"}), :class => 'button rounded'
  .q3
    = link_to image_tag('kidPlay.png'), page_path(:kidplay)
    %br/
    %br/
    %p.block Parent-approved destinations and activities that will have your kids giggling with glee
    %br/
    %a.button.rounded{:href => page_path(:kidplay)}
      February 2013.
      %span.orange Join for Free!
  .q3
    /.nomargin
    = link_to image_tag('kidChatter.png'), page_path(:kidchatter)
    %br/
    %br/
    %p.block Real-world advice from NYC parents who’ve been there, done that (and lived to tell the tale).
    %br/
    %a.button.rounded{:href => page_path(:kidchatter)}
      February 2013.
      %span.pink Join for Free!