.message_form
	= simple_form_for [:users, @message], remote: true do |f|
		=# f.error_notification
		= hidden_field_tag 'recipient_ids', @recipients.map { |r| r.id }.join(',')

		.input.string
			= label_tag 'To'
			= text_field_tag 'to', @recipients.map { |r| r.profile.full_name }.join(','), disabled: :true, class: 'string optional'

		= f.input :subject, placeholder: 'Subject'
		= f.input :content, placeholder: 'Message', label: 'Message'

		.action
			=f.submit 'Send', class: 'rounded button orange_button'
			=f.submit 'Reset', type: 'reset', class: 'rounded button orange_button'