- content_for :title, 'Messages'
.content
    .mail_box
        %h3.page_title.blue My Message
        .search_message
            = simple_form_for '', :method => 'get', id: "find_friends" do
                = text_field_tag :search, params[:search], :placeholder => 'Find Friends'
        .mail_links
            = link_to "INBOX (#{user_msgs})", '?tab=inbox' , style: params[:tab] == 'inbox' ? 'background-color:#ece8fc;': 'background-color:white;'
            = link_to 'SENT', '?tab=sent' , style: params[:tab] == 'sent' ? 'background-color:#ece8fc;': 'background-color:white;'
            = #link_to 'DRAFT', '?tab=draft'
            = link_to 'TRASH', '?tab=trash' , style: params[:tab] == 'trash' ? 'background-color:#ece8fc;': 'background-color:white;'

        .mail_container
            - if @messages.count > 0
                = link_to 'Delete All', "messages/del_all_msgs?tab=#{params[:tab]}", class: 'button rounded orange_button', style: "padding: 2px 8px; margin-left: -83px;margin-top: -44px;", confirm: 'Are You Sure!'
            - @messages.each do |msg|
                .msg{:style => params[:tab] == 'inbox' ? "width:480px; float:left;border-bottom: 1px solid #e2dae8;padding-top: 10px; #{read_background(msg.opened)}" : "width:480px; float:left;border-bottom: 1px solid #e2dae8;padding-top: 10px;"}
                    - if params[:tab] == 'sent' || params[:tab] == 'draft'
                        =# profile_image(msg.sender, size: '50x50')
                        %span.blue{:style => "float:left;"}= "To: #{msg_user_name(msg.recipient_id)}"
                    - else
                        = #msg.sent_messageable_id
                        %span.orange{:style => "float:left;"}= "From: #{msg_user_name(msg.sender_id)}"

                    %span.orange{:style => "float:right;"}= "Posted: #{msg.created_at.strftime("%a, %b %d, %Y at %I:%M %p")}"
                    .message{:style => "float:left;"}= link_to msg.subject.truncate(70), "messages/#{msg.id}?tab=#{params[:tab]}"
                    %div{:style => "float:right; width:200px;"}
                        - if params[:tab] == 'trash'
                            = link_to 'Move to inbox', "messages/back_inbox/#{msg.id}?tab=#{params[:tab]}", class: 'button rounded orange_button', style: 'padding: 2px 8px;margin-left: 12px;', confirm: 'Are You Sure!'
                        = link_to 'Delete', "messages/del_msg/#{msg.id}?tab=#{params[:tab]}", class: 'button rounded orange_button', style: "padding: 2px 8px;margin-left: #{@margin};", confirm: 'Are You Sure!'

