- content_for :title, 'Compose Message'
.content
  .friends_container
    .all_users
      .blue
        &nbsp;&nbsp;&nbsp;
        %b Compose Message

        %form{:action=>users_messages_send_message_path(), :method => "post"}
          %ul
            %li{:style => "width:500px;"}
              Recipient
              %br
                %input{:name => "recipient", :type => "text", :value => "#{@friend.email}"}
            %li
              Subject
              %br
                %input{:name => "subject", :placeholder => "Type your subject", :type => "text"}
            %li
              Message
              %br
                %textarea{:name => "message", :placeholder => "Type your message", :style => "width:414px; height: 124px;"}
            %li
              %input{:type => "hidden", :value => "#{current_user.id}", :name => "send_user_id"}
              %input{:type => "hidden", :value => "#{@friend.id}", :name => "friend_id"}
              %input{:type => "submit", :value => "Send"}

