- content_for :title, 'Show Message'
.content.smaller
    .show_message
        %h3.page_title Message
        %table
            %tbody
                %tr
                    %td Subject
                    %td= @message.subject
                %tr
                    %td Content
                    %td
                        = @message.body
        = link_to '<- back', :back, class: 'button rounded orange_button'
            - if params[:tab] == 'inbox' || params[:tab] == 'trash' || params[:tab] == ''
                = link_to 'Reply', "/users/messages/new?friend_id=#{@message.sender_id}", class: 'button rounded orange_button'
            - else if params[:tab] == 'sent'
                = link_to 'Reply', "/users/messages/new?friend_id=#{@message.recipient_id}", class: 'button rounded orange_button'