= simple_form_for [ :admin, @agegroup ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :group_name, as: :string
  = f.input :start_age, as: :integer
  = f.input :end_age, as: :integer
  = f.input :format, collection: [["Months", 'Months'], ["Years", "Years"]]
  
  .form-actions
    = @agegroup.new_record? ? (styled_form_button 'create') : (styled_form_button 'update')
    = styled_form_button 'reset'
