.widget-content.nopadding
  %table.table.table-bordered
    %tr
      %th Age Group
      %th Start Age
      %th End Age
      %th Years/Months
      %th Actions
    - unless @agegroups.blank?
      - @agegroups.each do |agegroup|
        %tr
          %td= h agegroup.group_name
          %td= h agegroup.start_age
          %td= h agegroup.end_age
          %td= h agegroup.format
          %td.center_it
            = styled_button 'show', admin_agegroup_path(agegroup)
            = styled_button 'edit', edit_admin_agegroup_path(agegroup)
            = styled_button 'delete', admin_agegroup_path(agegroup), method: :delete, confirm: 'Are You Sure!'
    - else
      %tr
        %td{:colspan=>3} No records found

- content_for :pagination, (paginate @agegroups, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_agegroup_path)