.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Name
				%td= @agegroup.group_name
			%tr
				%td Start Age
				%td= strip_tags @agegroup.start_age
			%tr
				%td End Age
				%td= @agegroup.end_age
			%tr
			    %td Years/Months
			    %td= @agegroup.format
			%tr
				%td
				%td
					= styled_button 'back', admin_agegroups_path
					= styled_button 'edit', edit_admin_agegroup_path(@agegroup)
					= styled_button 'delete', admin_agegroup_path(@agegroup), method: :delete, confirm: 'Are You Sure!'


