- content_for :title, 'Curators'
.content.smaller
		
	%h2.blue_heading Family Curators 
	#custom-show-hide-example
		-@curators.each do |curator|
			.family_curator
				%h3.close{"data-collapse-summary" => ""}
					%a{:href => "#"}
						.optionrow1
							.faq
							.fc_leftdiv
								
								%img{:alt => "", :height => "100", :src => curator.picture_string_url, :width => "103"}
							.fc_rightdiv
								.fc_heading1
									= curator.names
									%br 
									= curator.kid_ages
								= curator.summary
							.details{:style => "display: none;"}
								= curator.details.html_safe


