- content_for :title, @page.title
.content.smaller
	-if @page.present?
		%h1.blue_heading= @page.title if @page.show_title?
		%p= @page.body.html_safe
	-else
		%h1.blue_heading
			The page you are looking for no longer exist.
			%br
			%br
			= link_to "Click here", root_path
			to go back