- content_for :title, 'Compose Message'
.content
  .friends_container
    .all_users
      .blue
        &nbsp;&nbsp;&nbsp;
        %b Compose Message


        -#%form{:action=>users_send_message_path(params[:id]), :method => "post"}
        = form_for{ @friend,:url=>"http://0.0.0.0:3000/users/friendships/send_message/#{@friend.id}", :method => "post"}


          %ul
            %li{:style => "width:500px;"}
              Recipient
              %br
                %input{:name => "recipient", :type => "text", :value => "#{@friend.email}"}
            %li
              Subject
              %br
                %input{:name => "subject", :placeholder => "Type your subject", :type => "text"}
            %li
              Message
              %br
                %textarea{:name => "message", :placeholder => "Type your message", :style => "width:414px; height: 124px;"}
            %li
              %input{:type => "hidden", :value => "#{current_user.id}", :name => "send_user_id"}
              %input{:type => "submit", :value => "Send"}

