- content_for :title, 'Friends'
.content
  .friends_container
    .all_users
      .blue
        &nbsp;&nbsp;&nbsp; 
        ="No. of Friends ( #{@friends.length} )"
      %ul
        - @users.each do |u|
          %li
            .friend
              = profile_image u
              %br
              = u.profile.full_name
              - if @friends.include?(u) || @inverse_friends.include?(u)
                = link_to 'SEND MEG', new_users_message_path(friend_id: u), class: 'pink_button'
              - elsif @pending_friends.include?(u)
                Pending
              - elsif @inverse_pending_friends.include?(u)
                = button_to 'Approve',  users_friendship_path(current_user, friend_id: u), method: :put, class: 'orange_button'
              - else
                = button_to 'CONNECT',  users_friendships_path(friend_id: u), class: 'blue_button'
    .find_friends
      .blue.text Find Friends in the Community
      = simple_form_for '', :method => 'get', id: "find_friends" do
        = text_field_tag :search, params[:search], :placeholder => 'Find Friends'
      - if params[:search]
        .suggestions
          - u = User.last
          .box
            = profile_image u, size: '50x50'
            %span
              .userName= u.profile.full_name
              = button_to 'CONNECT',  users_friendships_path(friend_id: u), class: 'blue_button'
            .clear
