<style>
.pagination{padding:.3em;margin:.3em; font: 13.34px helvetica,arial,freesans,clean,sans-serif;}
.pagination a{padding:.1em .3em;margin:.2em;border:1px solid #aad;text-decoration:none;color:#369;}
.pagination a:hover,.pagination a:active{border:1px solid #369;color:#000;}
.pagination span.current{padding:.1em .3em;margin:.2em;border:1px solid #369;font-weight:bold;background-color:#369;color:#FFF;}
.pagination span.disabled{padding:.1em .3em;margin:.2em;border:1px solid #eee;color:#ddd;opacity:0.9;}
</style>

<%= paginator.render do -%>
  <div class="pagination">
      <%= prev_page_tag -%>

	<% each_page.select(&:inside_window?).each do |page| %>
	    <%= page_tag page -%>
	<% end %>

      <%= next_page_tag -%>
  </div>
<% end -%>
