
<% if page.current? %>
  <td class="cur">
    <span class="csb" style="background-position:-53px 0;width:20px">
    </span>
      <%= page %>
    </td>
<% else %>
  <td>
    <%= link_to raw(%Q[<span class="csb ch" style="background-position:-74px 0;width:20px">
		</span>#{page}]), url, :class => 'fl', :remote => remote %>
  </td>

<% end %>
