.content.smaller
  %h1.blue_heading 
    %span.blue Sign in 
    %span.orange_text | Join
  %h2.blue Already have an account?
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .span3
      =f.input :email, :as => :email, error: false
      =f.input :password, :as => :password, error: false
      .forgot_pass
        = link_to "Forgot your password?", new_password_path(resource_name), :class => "blue"
    .span1.login_button
      = f.submit "Login", :class => "rounded button blue_button"
    .span1.remember_me
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
        %p.keep_me_logged_in
          = f.label :remember_me, 'Keep Me Logged In'

.clear
.content.medium.sign_up
  %h5.orange Sign up today!
  %h6 Required Information

  = simple_form_for @user, url: registration_path(@user) do |u|
    = u.error_notification

    = render 'devise/profile_fields', f: u
    = u.input :email				
    = u.input :password, label: 'LaLaaLu Password'
    = u.input :password_confirmation, label: 'Re-Enter Password'

    .clear
    .action
      = u.submit 'Next ->', :class => "rounded button orange_button"

  %img{:src => "/assets/step1.png"}
