%p Our Familiy's Favourite Kid Products
= fav.text_field :kid_products_tokens, label: false, hint: '*insert a comma between each of your top 3 or more', :data => {:load => (@user || resource).favourite.favourite_kid_products.map(&:attributes).to_json}

%p Our Familiy's Favourite NYC Restaurants
= fav.text_field :nyc_restaurants_tokens, label: false, hint: '*insert a comma between each of your top 3 or more', :data => {:load => (@user || resource).favourite.nyc_restaurants.map(&:attributes).to_json}

%p Our Familiy's Favourite NYC Playgrounds
= fav.text_field :nyc_playgrounds_tokens, label: false, hint: '*insert a comma between each of your top 3 or more', :data => {:load => (@user || resource).favourite.nyc_playgrounds.map(&:attributes).to_json}

%p Our Familiy's Favourite NYC Spots
= fav.text_field :nyc_spots_tokens, label: false, hint: '*insert a comma between each of your top 3 or more', :data => {:load => (@user || resource).favourite.nyc_spots.map(&:attributes).to_json}