.content.smaller
	%h1.page_title Join Cont'd
	%h2 Optional information 
	%p (fill in to receive special offers and gifts from LaLaalu)
	%br
	.favourites_form
		= simple_form_for @user, url: users_favourite_path(@user) do |f|
			= f.error_notification
			= f.simple_fields_for :favourite do |fav|
				= render 'users/favourites/favourite_fields', fav: fav

			= link_to '<- Back',new_users_child_path, class: 'rounded button blue_button'
			= f.submit 'Finish ->', class: 'rounded button orange_button'

	%img{:src => "/assets/step4.png"}
