%p 
	Hello 
	= @friend.friend_email
%br
%p 
	You have been invited to join 
	= link_to 'LaaLaaLu.com' , root_url
	by
	=  @user.profile.full_name.titleize
	\-- 
	= mail_to(@user.email)
%br
- unless @friend.message.blank?
	%div
		%p=@user.profile.full_name.concat("'s message --")
		= @friend.message
%br
%p Click the link below to join
%p
	= link_to "Accept Invitation!", "https://#{ENV['APP_HOST']}/users/friendships/new?token=#{@friend.token}"