%html
  %head
  %body{style: "font-weight: bold; font-family: 'Comic Sans MS'"}
    %img{:border => "0",:src => "#{root_url}/assets/logo.png"}
    %br
    %br

    %p 
      Welcome 
      %span{style: "color: #3f77bc; font-weight: bold"}
        = @order.user.profile.full_name.titleize
      
    %p    
    %p 
      Thank you for subscribing for a
      = @order.line_items.map {|li| li.package.name }.join(", ")
      and joining the Lalaalu community.  Your first KidBox will ship on the 15th and should be at your door 4-5 business days later. Please see the details of your order below. If you haven’t received your KidBox by the end of the month, please contact us at 
      %span{style: 'color:#ee489a'} missingKidBox@lalaalu.com
      , and we’ll take it from there.  
    %p
      While you wait for your KidBox, please join us at 
      %span{style: 'color:#ee489a'}www.lalaalu.com. 
      Make sure to complete your profile and take advantage of all the site has to offer, including connecting with other city parents like you.  We’re adding new features all the time, with a mission to make the lives of city parents easier, better and more fun!  

    %p
      Enjoy and don’t forget to tell us (and your friends) what you think when you receive your KidBox at 
      %span{style: 'color:#ee489a'}www.lalaalu.com.
    
    %p 
      Regards.
      %br
      \- Soniya and Nik
    %hr{style: "color: #ccc; "}

    %p{align: "center", height: "260", width: "600", style: 'font-size: 11px'}
      Connect with us at www.lalaalu.com and on 
     
      %a{href: 'https://facebook.com/lalaalu', style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/facebook_icon.png", alt: 'Facebook',width: "20px", height: '20px'} 

      %a{href: 'https://pinterest.com/lalaalu', style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/pinterest_icon.png", alt: 'Pinterest',width: "20px", height: '20px'} 
    
      %a{:href => "https://twitter.com/lalaalu", style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/twitter_icon.png", alt: 'Twitter',width: "20px", height: '20px'} 

      LalaaluFamily! 15 Broad St. Suite 3100, NY, 10005 | info@lalaalu.com
    %p Kidbox
    %p{style: "color: #3366cc;text-decoration:underline"}= "Lalaalu Order Details (RECEIPT #{@order.id})"
    %p= "Order Date: #{@order.created_at.strftime('%m/%d/%y')}"
    %br 
    %br 
    - boxes = @order.line_items.where(:gift_it => false).order(:package_id)
    - if boxes.count > 0
      .black_heading{:style => 'color:#3366cc'} Get It -  Package Description
      -boxes.each do |li|
        .optionrow
          = "#{li.qty} x #{li.agegroup.group_name} - #{li.package.name}"
          %br
          %span{:style => "padding-left:30px"}= "- #{li.package.name} = $#{number_with_precision(li.price, :precision => 2)}"
    %br
    %br
    - boxes = @order.line_items.where(:gift_it => true).order(:package_id)
    - if boxes.count > 0
      .black_heading{:style => 'color:#3366cc'} Gift It -  Package Description
      -boxes.each do |li|
        .optionrow
          = "#{li.qty} x #{li.agegroup.group_name} - #{li.package.name}"
          %br
          %span{:style => "padding-left:30px"}= "- #{li.package.name} = $#{number_with_precision(li.price, :precision => 2)}"
    %p{style: 'color:#ee489a'}= "Order Total (incl NYS sales tax): $#{number_with_precision(@order.total, :precision => 2)}"
    - if @order.recipient_detail.present?
      .optionrow2
        .leftcoloum{:style => 'color:#3366cc'} Shipping Address(Gift It):
        .rightcoloum{:style => "line-height:16px"}
          =nl2br(@order.recipient_detail.final_address)
          %br
          ='T: %s.%s.%s' % [ @order.recipient_detail.phone[0,3], @order.recipient_detail.phone[4,3], @order.recipient_detail.phone[8,4] ] 
    %br 
    - if @order.shipping_address.present?
      .optionrow2
        .leftcoloum{:style => 'color:#3366cc'} Shipping Address:
        .rightcoloum{:style => "line-height:16px"}
          =nl2br(@order.shipping_address)
          %br
          ='T: %s.%s.%s' % [ @order.contact_no[0,3], @order.contact_no[4,3], @order.contact_no[8,4] ] 
    %br 
    .optionrow2
      .leftcoloum{:style => 'color:#3366cc'} Payment Details:
      .rightcoloum{:style => "line-height:16px"}
        = "Type of card: #{@billing.card.type}"
        %br
        = "Name on card: #{@billing.card.name}"
        %br
        = "Card Number: **********#{@billing.card.last4}"
    %br 
    .optionrow2
      .leftcoloum{:style => 'color:#3366cc'} Billing Address:
      .rightcoloum{:style => "line-height:16px"}
        =nl2br(@order.billing_address)
        %br
        ='T: %s.%s.%s' % [ @order.contact_no[0,3], @order.contact_no[4,3], @order.contact_no[8,4] ]
