%html
  %head
  %body
    %img{:border => "0",:src => "#{root_url}/assets/logo.png"}
    %br
    %br

    %p 
      Welcome ( 
      %span{style: "color: #3f77bc; font-weight: bold"}
        = @user.profile.full_name.titleize
      )!
    %p    
    %p 
      Thank you for subscribing for a (enter box type(s) here) and deciding to join the Lalaalu community.  Your first KidBox will ship on the 15th and should be at your door 4-5 business days later.  If you haven’t received your KidBox by the end of the month, please contact us at
      %a{href: 'missingKidBox@lalaalu.com',style: "color: #ee489a"} missingKidBox@lalaalu.com
      , missingKidBox@lalaalu.com
    %p
    
    %p 
      While you wait for your KidBox, please join us at 
      %a{href: root_url,style: "color: #ee489a"} www.lalaalu.com.
      Make sure to complete your profile and take 
advantage of all the site has to offer, including connecting with other city parents like you.  We’re adding new features all the time, with a mission to make the lives of city parents easier, better and more fun!
    %p

    %p 
      Enjoy and don’t forget to tell us (and your friends) what you think when you receive your KidBox at 
      %a{href: root_url,style: "color: #ee489a"} www.lalaalu.com.
    %p

    %p 
      Regards.
      %br
      \- Soniya and Nik
    %p

    %p 
      %span{style: "color: #f6891f"} P.S.
      it may not be too late to sign up for our subscription box (starting at only $22/month) at 
      %a{ href: root_url,style: "color: #ee489a" }www.lalaalu.com
      but they run out fast so don't wait too long.

    %hr{style: "color: #ccc; "}

    %p{align: "center", height: "260", width: "600", style: 'font-size: 11px'}
      Connect with us at www.lalaalu.com and on 
     
      %a{href: @settings.facebook_page, style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/facebook_icon.png", alt: 'Facebook',width: "20px", height: '20px'} 

      %a{href: @settings.pinterest_page, style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/pinterest_icon.png", alt: 'Pinterest',width: "20px", height: '20px'} 
    
      %a{:href => "https://twitter.com/#{@settings.twitter_page}", style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/twitter_icon.png", alt: 'Twitter',width: "20px", height: '20px'} 

      LalaaluFamily! 15 Broad St. Suite 3100, NY, 10005 | info@lalaalu.com