= simple_form_for [ :admin, @set ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :facebook_page
  = f.input :pinterest_page
  = f.input :twitter_page
  = f.input :home_page, as: :ckeditor
  = f.input :partner_brands, as: :ckeditor
  =# f.input :our_story, as: :text
  =# f.input :how_kid_boxes_work, as: :text
  =# f.input :contact_us, as: :text
  =# f.input :privacy_policy, as: :text
  =# f.input :terms_of_service, as: :text
  .form-actions
    = styled_form_button 'update'

