= simple_form_for [ :admin, @category ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :name, as: :string 
  = f.input :slug, as: :string 
  = f.input :show_in_blog, as: :boolean
  .form-actions
    = styled_form_button( @category.new_record? ? 'create' : 'update')
    = styled_form_button 'reset'
