.widget-content.nopadding
  %table.table.table-bordered
    %thead
      %tr
        %th Name
        %th Slug
        %th Show In Blog
        %th Actions
    %tboby
      - unless @categories.blank?
        - @categories.each do |category|
          %tr
            %td= category.name
            %td.center_it= category.slug
            %td.center_it= category.show_in_blog? ? "Yes" : "No"
            %td.center_it
              = styled_button 'show', admin_category_path(category)
              = styled_button 'edit', edit_admin_category_path(category)
              = styled_button 'delete', admin_category_path(category), method: :delete, confirm: 'Are You Sure!'
      - else
        %tr
          %td{:colspan=>3} No records found
- content_for :new_record, (styled_button 'new', new_admin_category_path)
