= simple_form_for [ :admin, @product ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :name, as: :string
  = f.input :facebook_page
  = f.input :web_page
  = f.input :twitter_page
  = f.input :description, as: :ckeditor
  = f.input :product_image, as: :file
  = f.association :brand
  
  
  .form-actions
    = @product.new_record? ? (styled_form_button 'create') : (styled_form_button 'update')
    = styled_form_button 'reset'
