.widget-content.nopadding
  %table.table.table-bordered
    %tr
      %th Name
      %th Description
      %th Brand
      %th Actions
    - unless @products.blank?
      - @products.each do |product|
        %tr
          %td= h product.name
          %td= h product.description
          %td.center_it= product.brand.name
          %td.center_it
            = styled_button 'show', admin_product_path(product)
            = styled_button 'edit', edit_admin_product_path(product)
            = styled_button 'delete', admin_product_path(product), method: :delete, confirm: 'Are You Sure!'
    - else
      %tr
        %td{:colspan=>3} No records found

- content_for :pagination, (paginate @products, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_product_path)