.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Name
				%td= @product.name
			%tr
				%td Description
				%td= strip_tags @product.description
			%tr
				%td Image
				%td= image_tag @product.product_image_url(:thumb) if @product.product_image?
			%tr
				%td Brand
				%td= @product.brand.name
			%tr
				%td
				%td
					= styled_button 'back', admin_products_path
					= styled_button 'edit', edit_admin_product_path(@product)
					= styled_button 'delete', admin_product_path(@product), method: :delete, confirm: 'Are You Sure!'


