.content_right
	%h1.blue_sub_heading{:style => "padding:10px 0 10px 15px; width:auto"} Categories
	-if @categories.present?
		#rightmenu
			%ul
				-@categories.each do |category|
					%li= link_to category.name, blogs_category_path(category)
	-else
		