.breadcrumb
  - unless is_home? 
    = link_to 'Home', root_url
    - if !url_includes?('categories')
      %span.breadcrumb_current
        = content_for?(:currentNav) ? yield(:currentNav) : print_current_nav
    - else
      = link_to 'Blogs', blogs_path
      %span.breadcrumb_current
        = params[:slug]
      


  / %a{href: "#"}
  /   Home
  / %span.breadcrumb_current Family Curators