%div{id: 'flash_notice'}
  -if params[:notice].present?
    =params[:notice]
- if flash[:notice]
  %div{id: 'flash_notice'}

    = raw "#{flash[:notice]}"

- if flash[:error] || flash[:alert]
  %div{id: 'flash_alert'}
    = raw "Error! <br>  #{flash[:error] || flash[:alert]}"