%div#footer
	%ul
		%li
			%a{:href => page_path('our-story')} Our Story
		%li
			%a{:href => '/family_curators'} Family Curators
		%li
			%a{:href => page_path('how-kidboxes-work')} How KidBoxes Work
		%li
			%a{:href => new_users_invitation_path} Invite Friends
		%li
			%a{:href => faqs_path} FAQs
		%li
			%a{:href => blogs_path} Blog
		%li
			= link_to 'Login', new_user_session_path
		%li
			= link_to 'Sign Up', new_user_registration_path
		%li
			%a{:href => page_path('contact-us')} Contact Us
	.footerDivider
	.q3
		CONNECT WITH US:
		%a.facebook_small.icon{:href => @settings.facebook_page, :target => '_blank'}
		%a.twitter_small.icon{:href => 'https://twitter.com/' + @settings.twitter_page, :target => '_blank'}
		%a.pinterest_small.icon{:href => @settings.pinterest_page, :target => '_blank'}
		%a.blog_small.icon{:href => 'http://lalaalu.com/blog/index.php'}
	.q3.textAlignCenter
		= yield :footer
	.q3
		%ul
			%li
				%a{:href => page_path('terms-of-service')} Terms of Service
			%li
				%a{:href => page_path('privacy-policy')} Privacy Policy
			%li
				%a{:href => "#"} Site Map
.js
	= javascript_include_tag "https://js.stripe.com/v1/", "https://connect.facebook.net/en_US/all.js", 'application'
	= yield :scripts
#fb-root
#overlay
	.overlay_inside
		.overlay_content
		.close_overlay
