!!!
%html{:xmlns => "https://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset => "utf-8"}/
    %title 
      Lalaalu 
      | 
      = content_for?(:title) ? yield(:title) : 'Home'

    = render 'layouts/meta'
    /[if IE 8]
      <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="/assets/ie8.css">
    = stylesheet_link_tag  "application", :media => "all"
    = stylesheet_link_tag  "", :media => "all"
    = yield :styles


    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
    :plain
      <script type="text/javascript">var switchTo5x=true;</script>
      <script type="text/javascript" src="https://w.sharethis.com/button/buttons.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
      <script type="text/javascript">stLight.options({publisher: "72158fe9-d47c-4cea-b1d3-f5da0b418643"});</script>