%div#header
	- if user_signed_in?
		- if current_user.admin?
			= link_to image_tag('userIcon.png',size: '14x15', alt: 'Logout')+'Admin', '/admin', class: 'button edgy'
		=# link_to image_tag('userIcon.png',size: '14x15', alt: 'Friends')+'Friends', users_friendships_path, class: 'button edgy'
		=# link_to image_tag('userIcon.png',size: '14x15', alt: 'Profile')+'Profile',  edit_user_registration_path, class: 'button edgy'
		=# link_to image_tag('userIcon.png',size: '14x15', alt: 'My Lalaalu')+'My Lalaalu',  users_friendships_path, class: 'button edgy'
		= link_to image_tag('userIcon.png',size: '14x15', alt: 'Logout')+'Logout', destroy_user_session_path, method: :delete, class: 'button edgy'
	- else
		.button.edgy
			= link_to image_tag('userIcon.png',size: '14x15', alt: 'Sign In ')+'Sign In / Join', new_user_session_path, class: 'session_links'
			=# \ / 
			=# link_to ' Join', new_user_registration_path, class: 'session_links'
	= render 'layouts/public/social_links'