.sidebar
	= link_to '', root_url, class: 'logo', title: "Lalaalu | Home"
	%ul.menu
		%li= link_to 'Our Story', page_path('our-story')
		%li= link_to 'Family Curators', '/family_curators'
		%li= link_to 'How KidBoxes Work', page_path('how-kidboxes-work')
		%li= link_to 'FAQs', faqs_path
		%li= link_to 'Contact Us', page_path('contact-us')
		%li= link_to 'Meet Us', page_path('meet-us')
	.twitterBox
		.tweet_text{:style=> "height:65px;overflow:hidden;"}
			