%a.facebook.icon{:href => @settings.facebook_page, :target => '_blank', 'data-tooltip' => 'Facebook'}
%a.pinterest.icon{:href => @settings.pinterest_page, :target => '_blank', 'data-tooltip' => 'Pinterest'}
= link_to '', new_news_letter_path, class: 'mail icon', title: 'News Letters', 'data-tooltip' => 'Newsletter'
%a.twitter.icon{:href => 'https://twitter.com/' + @settings.twitter_page, :target => '_blank', 'data-tooltip' => 'Twitter'}
%a.blog.icon{:href => 'http://lalaalu.com/blog/index.php', 'data-tooltip' => 'Blog'}
-if session[:subscription_id].present?
	%a.cart.icon{:href => user_subscription_path(session[:subscription_id]), 'data-tooltip' => 'Cart'}