.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Title
				%td= @user.spouse.profile.title
			%tr
				%td First Name
				%td= @user.spouse.profile.first_name
			%tr
				%td Last Name
				%td= @user.spouse.profile.last_name
			%tr
				%td Sex
				%td= @user.spouse.profile.sex
			%tr
				%td Address
				%td= @user.spouse.profile.address
			%tr
				%td Birthday
				%td= @user.spouse.profile.make_birthday
			%tr
				%td Phone Home
				%td= @user.spouse.profile.phone_home
			%tr
				%td Phone Cell
				%td= @user.spouse.profile.phone_cell
			%tr
				%td Hobbies
				%td= @user.spouse.profile.hobbies
			%tr
				%td Spouse	
				%td= link_to( @user.profile.full_name, admin_user_path(@user), class: 'btn btn-mini')
			%tr
				%td No. of Children
				%td= @user.children.length
			%tr
				%td Children
				%td
					- @user.children.each do |child|
						= link_to( child.profile.full_name, admin_user_child_path(@user, child), class: 'btn btn-mini')
/ %tr
/ 	%td
/ 	%td
=# styled_button 'edit', edit_admin_user_spouse_path(@user,@user.spouse)
=# styled_button 'delete', admin_user_spouse_path(@user,@user.spouse), method: :delete, confirm: 'Are You Sure!'


