/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require admin/bootstrap/bootstrap
 *= require admin/bootstrap/uniform
 *= require admin/bootstrap/chosen
 *= require admin/bootstrap/unicorn.main
 *= require admin/bootstrap/datepicker
 *= require admin/bootstrap/unicorn.grey
 
 */


textarea 		{ height: 300px !important; }
.center_it 	{ text-align: center !important; }
.pagination { margin: 0 !important; float: right;}
.clearBoth 	{ clear:both; }
.form_nav 	{ 
	bottom: 24px;
  left: 8px;
  position: absolute;
}
.button_to { display: inline-block; 
	input { padding: 3.5px 8px; font-weight: bold; }
}
.form-horizontal .hint { margin:0 !important; font-size: 11px; }
input.btn.btn-mini[type="submit"] {
    padding: 3.44px 8.5px; font-weight: bold;
}
.submenu a i { padding-right: 5px; }
#breadcrumb a i { vertical-align: -2px; }



