.mylalaalu {
  #content { margin-top: 100px; }
  .breadcrumb { top:180px; }
  img { border-radius: 4px; }
}
/* ADD FRIEND */
.userNav {
  background: url("user_nav_back.png") repeat scroll 0 0 transparent;
  height: 91px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 100%;

  .nav { width: 1000px; margin:0 auto;height:100%; margin-top:25px;}
  .name { float: left; 
    img { width: 35px; float: left; }
    span { float: right; margin:10px; text-transform: capitalize; }
  }
  .links { height: 100%; margin: 0 auto; width: 845px;
    ul { margin: 0; padding: 0; }
    li { float: left; 
      span { 
        background: url("user_nav.png") no-repeat;
        display: inline-block;
        height: 26px;
      }
      &:nth-child(1) span { background-position: -44px -41px; width: 26px; }
      &:nth-child(2) span { background-position: -0px -0px; width: 36px; }
      &:nth-child(3) span { background-position: -0px -41px; width: 33px; }
      &:nth-child(4) span { background-position: -47px -0px; width: 29px; }
      a { 
        vertical-align: super; 
        color: darken(#68A3D8,20%);
        font-weight: bold;
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
  }
}

.friends_container { 
  .all_users { width: 480px; float: left;
    ul { padding: 0; }
    li { float: left; margin: 0 0 0 15px;
      div { width: 105px; height: 185px;
        img { width: 100px; }
      }
    }
  }
  .find_friends { float: right;
    .text { font-size: 15px; font-weight: bold; }
    .suggestions {
      border: 1px solid #E7E8E9;
      padding: 10px;
      margin-top: 12px;
      img { float: left; margin-right: 8px; }

    }
    input[type='text'] { width: 215px; }
  }
}
#find_friends { 
    input { background: #E7E8E9; }
}
.buttton { 
  color: #fff;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
}
.pink_button { background: #FF3CA4; @extend .buttton; }
.blue_button { background: #0082F7; @extend .buttton; }
.orange_button { background: #FF852E; @extend .buttton; }

/* MY MESSAGES  */

.mail_box { margin-left: 10px; width: 520px;
  .mail_links { 
    margin: 20px 0;
    a{
      color: #5570AD;
      display: inline-block;
      text-decoration: none;
      border: 3px solid #5570AD;
      padding: 5px 8px;
      margin-right: 3px;
    }
  }
  .msg { 
    img { float: left; margin-right: 5px; }
    span { font-size: 17px; display: inline-block; 
      &:nth-of-type(1) { width: 175px; }
    }
    a { color:#5570AD; text-decoration: none; }
  }
}






