@import 'compass';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
    background: transparent;
}

.checkout_btn{
    padding-bottom: 25px;
}

ol.faqs li {
    padding: 4px;
}

.new_button.continue_to_payment.rounded, .new_button.checkout.rounded{
    background-image: url("/assets/white_arrow.png");
    background-position: 150px 12px;
    background-repeat: no-repeat;
    width: 200px;
    
}

.new_button.checkout.rounded{
    width: 120px;
    background-position: 70px 12px;
}

.add_to_cart.new_button.grey:hover{
    background-color:#E9E9E9;
}

.add_to_cart.new_button{
    background-image:url('/assets/cart.png');
}

.new_button.rounded {
    background-image: url("/assets/cart.png");
    background-position: 8px 4px;
    background-repeat: no-repeat;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    height: 30px;
    padding: 7px;
    width: 141px;
}


form.edit_user label {
    float: left;
    padding: 0 1em;
    text-align: right;
    width: 63px;
}


div#fancybox-outer {
    height: 100%;
    position: relative;
    width: 100%;
}

div#fancybox-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px #9D9D9D;
    color: #1F2731;
    height: 0;
    outline: medium none;
    padding: 0 0 10px;
    position: absolute;
    width: 500px;
    z-index: 1102;  
}

a#fancybox-close {
    background: url("close.png") repeat scroll -50px 5px transparent;
    cursor: pointer;
    display: none;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 0;
    width: 24px;
    z-index: 1103;
}

.fancybox_title {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #EEEEEE 100%) repeat scroll 0 0 transparent;
    border-radius: 10px 10px 0 0;
    color: #777777;
    font-weight: bold;
    height: auto;
    padding: 10px;
}

.brand_wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 400px;
    padding: 10px;
    text-align: center;
}


a[data-tooltip]:link, a[data-tooltip]:visited {
    position: relative;
    text-decoration: none;
}

a[data-tooltip]:after {
    border-radius: 2px 2px 2px 2px;
    color: #0083F6;
    content: attr(data-tooltip);
    font-family: "Chewy";
    position: absolute;
    text-align: center;
    top: -15px;
    left: -15px;
    visibility: hidden;
    white-space: nowrap;
    width: 40px;
}

a.twitter[data-tooltip]:after, a.blog[data-tooltip]:after, a.cart[data-tooltip]:after{
    left:-8px;
}

a[data-tooltip]:hover:before, a[data-tooltip]:hover:after {
    visibility: visible;
    -moz-transition: visibility 0s linear .3s;
    -webkit-transition: visibility 0s linear .3s;
    -ms-transition: visibility 0s linear .3s;
    -o-transition: visibility 0s linear .3s;
    transition: visibility 0s linear .3s;
}

div.favourites_form ul.token-input-list-facebook li.token-input-input-token-facebook input:focus{
    box-shadow:none;
}

ol, ul, .post ul, .post ol {
	list-style: none;
}

.add_to_cart {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 0 none;
    color: #B3B3B3;
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
}

.add_to_cart_link:hover .add_to_cart, .blue_button:hover input{
    background: none repeat scroll 0 0 #E9E9E9;
    color: #B3B3B3;
}

.regular-radio:checked + label:after {
    background: none repeat scroll 0 0 #008DF2;
    content: " ";
    font-size: 32px;
    height: 10px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 10px;
}
.regular-radio:checked + label {
    border: 1px solid #ADB8C0;
    color: #99A1A7;
}
.regular-radio + label {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
    display: inline-block;
    margin: 2px 0 0;
    padding: 7px;
    position: relative;
    width: 0;
}
label {
    float: left;
    padding: 0 1em;
    text-align: right;
}

.optionrow1{
    color: #808080;
}

h3.close {
    padding: 80px 0;
}   

.details {
    color: #808080;
    display: block;
    font-weight: normal;
    margin-bottom: 60px;
    padding: 0 0 0 132px;
}

.grey_heading {
    color: #808080;
    float: left;
    font-family: "Chewy",Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
    width: 100%;
}

.blue_heading {
    color: #0080FF;
    float: left;
    font-family: "Chewy",Arial,Helvetica,sans-serif;
    font-size: 21px;
    margin: 20px 0;
    width: 100%;
}

.forgot_pass {
    float: right;
    margin-right: 0px;
    margin-top: 5px;
}
.orange{
    color: #FF8530;
}

.keep_me_logged_in{
    margin-left:-60px;
}
.keep_me_logged_in label {
    width: 120px;
}

.span2{
    width:200px;
    float:left;
}
.span1{
    width:100px;
    float:left;
}

.remember_me{
    margin-top:90px;
}

.span3{
    width:320px;
    float:left;
}

.span4{
    width:400px;
    float:left;
}

.blue{
    color:#0083F6;
}

.post{
    width:465px;
    margin-top:50px;
}

.faqs .question {
    position: relative;
}
.faq {
    span.plus {background: url("/assets/faq-plus.png") no-repeat scroll 0 0 transparent; }
    span.minus { background: url("/assets/faq-minus.png") no-repeat scroll 0 0 transparent; }
    span.plus, .faq span.minus {
        height: 20px;
        margin-left: 0;
        position: absolute;
        width: 16px;
        left: 30px;
        cursor: pointer;
    }
}

form div.input {
    margin-top: 20px;
    width: 450px;
}
form div.radio_buttons label.radio{
    width:20px;
    float:none;
    font-weight: bold;
}

.button{
    margin:10px 10px 10px 0;
    cursor: pointer; 
    font-size: 13px;
}

label {
    float: left;
    padding: 0 1em;
    text-align: right;
    width: 95px;
}


textarea {
    height: 85px;
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"], textarea, .country_id select, .state_id select, #user_profile_attributes_i_am {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E6E6E6;
    border-radius: 2px 2px 2px 2px;
    height: 30px;
    vertical-align: middle;
    width: 195px;
    padding-left: 2px;
    padding-right: 2px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    &:focus {
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        outline: 0 none;
    }
}

input.button.rounded.big, .button.rounded.blue.big, input.button.rounded.blue.big{
    background:#0080ff;
    color:#fff;
}

.login_button{
    margin-top:60px;
    margin-left:10px;
}

.button{
    border: medium none;
    
}

.button.blue_button.rounded{
    background: #0083F6;
    color:white;
    padding:10px 20px;
    
}

.button.orange_button.rounded{
    background: #FF8530;
    color:white;
    padding:10px 20px;
    
}

.button.rounded.blue:hover, input.button.blue.big.rounded:hover {
    background: none repeat scroll 0 0 #3994ee;
}

.post{
    width:465px;
    margin-top:50px;
}

ul.faqs li{
    margin-left:0px;
}

input.inputError, .inputError:focus{
    border: 1px solid red;
    border-color: red;
}

.inputError, input.inputError{
    border: 1px solid red;   
}

.faq p { margin:0; }

.faq .question{
    color:#A2A2A2;
    cursor: pointer;
}
.faq .answer {
    display: none;
    margin-bottom: 10px;
}

.faq.active .answer{
    display:block;
} 
.faq .question.blue {
    color: #0083F6 !important;
}


.categories {
    background: none repeat scroll 0 0 #f2f2f2;
    display: inline-block;
    margin-top: 37px;
    min-height: 600px;
    padding: 16px;
    vertical-align: top;
    width: 150px;
}

.categories ul li, .categories ul li a{
    list-style:none;
    font-family: 'sans-serif';
    text-transform: uppercase;
    margin:0px;
    font-size:16px;
    color: #A2A2A2;
    text-decoration:none;

}

.read_more{
    color:#FB9B3A;
}

.share_this{
    margin-bottom:15px;
}

h1.page_title, h1.page_title a {
    color: #FB9B3A;
    font-family: Chewy;
    font-size: 24px;
    margin-bottom: 25px;
    text-decoration: none;
    span { color: #0083F6; }
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 13px/18px sans-serif;
	width: 100%;
	height: 100%;
    color:#808080;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    width: 1010px;
}
@font-face{font-family:"Chewy"; src:url("chewy.ttf");}

/* Error and Success messages */
#flash_notice, #flash_alert{ padding: 10px 5px;position: absolute; }
#flash_notice{ color: #FF3DA3; font-family: "Chewy";}
#flash_alert {
    color: #FF3DA3;
    font-family: chewy;
}
/* Header
-----------------------------------------------------------------------------*/
#header {
    padding-top:30px;
    padding-right:0px;
	height:20px;
    text-align:right;
}
.session_links { color: #B3B3B3; padding-right: 2px;}
/* Sidebar
-----------------------------------------------------------------------------*/
.sidebar{
    background: url("../assets/sidebarBackground.png") no-repeat scroll right top transparent;
    display: inline-block;
    height: 900px;
    vertical-align: top;
    width: 250px;
}
.sidebar.noborder{background:url("sidebarNoborderBackground.png") no-repeat right top; padding-right:20px;}
.logo{
    display:block;
    background:url("logo.png") no-repeat center center;
    width:230px;
    height:109px;
}
.menu{ margin: 50px 7px 0 0; padding: 0;}
.menu li{
    background: url("../assets/menuBackground.png") no-repeat scroll left center transparent;
    height: 42px;
    line-height: 42px;
    list-style-type: none;
    margin: 0 -3px -2px 0;
    padding: 0 0 0 35px;
    vertical-align: middle;
}
.menu li a{
    color: #808080;
    font-family: "Chewy";
    font-size: 18px;
    text-decoration: none;
}
.menu li a:hover{color:#a2a2a2;}
.twitterBox{
    background:url("twitterBoxBackground.png") no-repeat center top;
    width:155px;
    height:86px;
    margin:200px 0px 0px 0px;
    color:#999999;
    font-size:10px;
    padding:15px 10px 20px 20px;
    line-height:14px;
}
.twitterBox a{
    color:#999999;

}

/* Middle
-----------------------------------------------------------------------------*/
#content{padding:0px 0 150px 0;}
.content {
    display: inline-block;
    margin-left: 7px;
    padding-top: 55px;
    position: relative;
    vertical-align: top;
    width: 755px;
}

.contentBox {
    display: inline-block;
    margin-left: -9px;
    min-width: 500px;
}
.content.smaller {
    margin-left: 40px;
    width: 650px;
}
.content.medium {
    margin-left: 22px;
    width: 690px;    
}
.content.smaller.blog_content {
    width: 525px;
}

.topGrayBox {
    background: url("../assets/topGrayBoxBackground2.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Chewy";
    font-size: 17px;
    height: 190px;
    letter-spacing: 2px;
    line-height: 25px;
    margin-left: -8px;
    margin-top: 13px;
    padding: 32px 10px 0 0;
    text-align: right;
    text-shadow: 2px 0 rgba(0, 0, 0, 0.2);
    vertical-align: top;
    width: 550px;
}


.topGrayBox h2{font-size:32px; margin-top:10px;}
.topPhoto.kidbox {
    background: url("/assets/kidbox_frame.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    margin-left: -5px;
    margin-top: 7px;
    padding: 15px;
    vertical-align: top;
    width: 235px;
}

.topPhoto {
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
    width: 179px;
}


.topPhoto.bordered img{border:15px solid #f1f1f1;}
.topHeading{
    width:340px;
    height:190px;
    padding:50px 15px 0px 0px;
    display:inline-block;
    vertical-align:top;
}
p.block{height:60px;}
.home{
    height:900px;
    width:50px;
    background:url("sidebarBackground.png") no-repeat center top;
    display:inline-block;
    vertical-align:top;
    position:relative;
}
.homeIcon{
    background:url("homeIcon.png") no-repeat center top;
    width:90px;
    height:45px;
    position:absolute;
    top:400px;
    display:block;
}
.homeIcon:hover{background-position:bottom;}
.specialLaunchOffer{
    background:url("specialLaunchOffer.png") no-repeat center center;
    width:189px;
    height:141px;
    position:absolute;
    z-index:100;
}

/* Content Separation
-----------------------------------------------------------------------------*/
.q3{
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    width: 212px;
}

/* Content Styling
-----------------------------------------------------------------------------*/
ul li{
    padding:7px 0px;
    margin-left:20px;
    list-style-type:none;
}

/* Buttons
-----------------------------------------------------------------------------*/
.button{
    color: #B3B3B3;
    display: inline-block;
    font-weight: bold;
    padding: 5px 13px;
    text-decoration: none;
    vertical-align: middle;
}
.button img{vertical-align:middle; margin-right:7px;}
.button.edgy{
    border-radius:2px;
    background-color:#F2F2F2;
    box-shadow:0px 2px 0px rgba(0,0,0,0.2);
    margin:-12px 20px 0px 0px;
}
.button.edgy.arrowed{
    background-image:url("arrowIcon.png");
    background-repeat:no-repeat;
    background-position:96% center;
    text-align:left;
    margin-bottom:25px;
    height:25px;
    padding:5px 13px;
}
.button.edgy.arrowed img{margin-left:5px; margin-right:10px;}
.button.edgy:hover{background-color:#e9e9e9;}
.button.rounded{
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    margin-right: 5px;
}
.button.rounded.big{padding:7px 30px;}
.button.rounded:hover{background:#e9e9e9;}
/* Icons
-----------------------------------------------------------------------------*/
.icon{display:inline-block;margin:0 10px}
.mail{background:url(mailIcon.png) no-repeat top;height:20px;width:21px}
.facebook{background:url(facebookIcon.png) no-repeat top;height:19px;width:18px}
.facebook_large{background:url(facebookIcon_large.png) no-repeat top;height:29px;width:28px}
.facebook_small{background:url(facebookIcon_small.png) no-repeat top;height:19px;width:18px}
.twitter{background:url(twitterIcon.png) no-repeat top;height:18px;width:24px}
.twitter_large{background:url(twitterIcon_large.png) no-repeat top;height:26px;width:36px}
.twitter_small{background:url(twitterIcon_small.png) no-repeat top;height:17px;width:23px}
.pinterest{background:url(pinterestIcon.png) no-repeat top;height:20px;width:19px}
.pinterest_large{background:url(pinterestIcon_large.png) no-repeat top;height:29px;width:29px}
.pinterest_small{background:url(pinterestIcon_small.png) no-repeat top;height:19px;width:19px}
.blog{background:url(blogIcon.png) no-repeat top;height:21px;width:20px}
.blog_small{background:url(blogIcon_small.png) no-repeat top;height:20px;width:19px}
.cart{background:url(cartIcon.png) no-repeat top;height:23px;width:22px}
.blogSmall{background:url(blogSmallIcon.png) no-repeat top;height:20px;width:19px}
.mail2{background:url(mail.png) no-repeat top;height:16px;width:23px}
.print{background:url(print.png) no-repeat top;height:25px;width:28px}
.mail:hover,.facebook:hover,.facebook_large:hover,.facebook_small:hover,.twitter:hover,.twitter_large:hover,.twitter_small:hover,.pinterest:hover,.pinterest_large:hover,.pinterest_small:hover,.blog:hover,.blog_small:hover,.cart:hover,.blogSmall:hover,.mail2:hover,.print:hover{background-position:bottom}/* Footer
-----------------------------------------------------------------------------*/

/* FOOTER
----------------------------------------------------------------*/
#footer {
  width: 960px;
  margin: -100px auto 0;
  height: 100px;
  position: relative;
  color: #B3B3B3;
  ul {
    padding: 0;
    li {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      display: inline;
      padding: 1px 20px;
      border-right: 1px solid #B3B3B3;
      &:last-child {
        border: 0px none;
        padding-right: 0px;
      }
      a {
        text-decoration: none;
        color: #B3B3B3;
        &:hover {
          color: #787878;
        }
      }
    }
  }
}

.footerDivider {
  height: 1px;
  background: #B3B3B3;
  margin: 15px 0px;
}

#footer .q3 {
  margin: 0px;
  width: 305px;
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
}

/*
----------------------------------------------------------------*/
.breadcrumb {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-left: 40px;
    position: absolute;
    top: 100px;
    z-index: 8;
}

.breadcrumb a{
background: transparent url(../assets/breadcrumb.png) no-repeat center right;
text-decoration: none;
padding-right: 10px; /*adjust bullet image padding*/
color: #b3b3b3;
}

.breadcrumb a:visited, .breadcrumb a:active{
color: #b3b3b3; 
}

.breadcrumb a:hover{
text-decoration: underline;
}

.breadcrumb_current{ background:#e6e6e6; color:#999999; padding:1px 5px; margin:0 0 0 5px}

.blue_heading{ font-family:"Chewy",Arial, Helvetica, sans-serif; font-size:21px; float:left; color:#0080ff; width:100%; margin:20px 0}
.blue_sub_heading{ font-family:"Chewy",Arial, Helvetica, sans-serif; font-size:14px; float:left; color:#0080ff; width:100%;}
.blue_heading3{ font-family:"Chewy",Arial, Helvetica, sans-serif; font-size:16px; float:left; color:#0080ff;}

.pink_heading3{ font-family:"Chewy",Arial, Helvetica, sans-serif; font-size:16px; float:left; color:#FF3EA8; width:100%}

.gray_heading{ font-family:"Chewy",Arial, Helvetica, sans-serif; font-size:19px; float:left; color:#808080; width:100%; margin:10px 0}
.blue_heading1{font-size:14px; font-weight:bold; float:left; color:#0080ff; width:100%; margin:0 0 10px 0}
.blue_heading2{font-size:14px; font-weight:bold; float:left; color:#0080ff; width:100%; margin:30px 0 10px 0}


.fc_heading1{ font-family:"Chewy",Arial, Helvetica, sans-serif; font-size:16px; float:left; color:#0080ff; width: 100%; float:left}

.fc_rightdiv {
    float: left;
    height: auto;
    width: 78%;
}   
.fc_leftdiv {
    float: left;
    height: auto;
    margin: 0 10px 0 20px;
    width: 103px;
}



.black_heading{font-size:14px; font-weight:bold; color:#4D4D4D;}

.blue_link{font-size:14px; font-weight:bold; color:#0080ff; text-decoration:underline}
.blue_link:hover{text-decoration: none}

.blue_link2{font-size:11px; font-weight:bold; color:#0080ff; text-decoration:underline}
.blue_link2:hover{text-decoration: none}

.optionrow1{ width:100%; height:auto; float:left; font-size:13px; line-height:20px}
.optionrow2{ width:100%; height:auto; float:left; font-size:13px; margin:10px 0}
.optioncoloum1 {
    float: left;
    font-weight: bold;
    height: auto;
    margin: 0 15px 0 0;
    width: 195px;
}
.optioncoloum_last{ width:220px; height:auto; float:left; font-weight:bold}
.description { width:70%; height:auto; float:left; font-size:13px; padding:10px 0; border-bottom:1px dotted #808080}

.description2 { width:100%; height:auto; float:left; font-size:13px; padding:10px 0; border-bottom:1px dotted #808080}

.leftcoloum{ width:110px; height:auto; float:left; margin:0 10px 0 0;}
.rightcoloum{ width:300px; height:auto; float:left; margin:0 10px 0 0;}

.c_optioncoloum {
    float: left;
    height: auto;
    width: 330px;
}
.d_optioncoloum {
    float: left;
    height: auto;
    width: 315px;
}

.radiocolumn{ width:30px; height:auto; float:left;}
.radiocolumn_value {
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: auto;
    width: auto;
}
.small_value{float:left; font-size:10px; clear:left}

.listbox select{ border:1px solid #999999; border-radius:3px; padding:2px 2px 2px 5px; font-size:16px; color:#808080; margin:0 5px 0 0}

.NFRadio {cursor:pointer; position:absolute; display:block; width:13px; height:13px; border:1px solid transparent; background:url(../assets/radio.png) no-repeat 0 0; z-index:2;}
.NFRadio:active{background:url(../assets/radio.png) no-repeat 0 -10px; z-index:2;}

/* RADIO */
.regular-radio {
  display: none;
  + label {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #999999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    display: inline-block;
    position: relative;
    margin: 2px 0 0 0;
  }
  &:checked {
    + label {
      &:after {
        content: ' ';
        width: 10px;
        height: 10px;
        position: absolute;
        top: 2px;
        background: #008DF2;
        text-shadow: 0px;
        left: 2px;
        font-size: 32px;
      }
      color: #99a1a7;
      border: 1px solid #adb8c0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    + label:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }
  }
  + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.radiocolumn label{
    width:2px;
}

.regular-checkbox {
  display: none;
  + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
      width:2px;
    }
  }
  &:checked + label {
    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
      width:2px;
    }
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
    &:after {
      content: '\2714';
      width:2px;
      font-size: 25px;
      position: absolute;
      top: -3px;
      left: 0px;
      color: #0080FF;
    }
  }
}
.card_rb {
  margin: 0;
  padding: 0;
  position: relative;
  top: -3px;
}

.receipt_wrap {
  width: 70%;
  height: auto;
  float: left;
  font-size: 13px;
  padding: 10px;
  border: 1px dotted #808080;
  line-height: 24px;
}

.print_wrap {
  width: 73%;
  height: auto;
  float: left;
  font-size: 13px;
  padding: 0 0 10px 0;
}

.list1 {
  list-style-type: disc;
  li {
    list-style-type: disc;
    margin-left: 20px;
    padding: 5px 0;
  }
}

.content_left {
  display: inline-block;
  width: 480px;
  vertical-align: top;
  padding-top: 50px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}
#rightmenu li a {
    color: #666666;
    display: inline-block;
    padding: 5px 20px 5px 15px;
    text-decoration: none;
    width: 165px;
    text-transform:uppercase;
}

.content_right {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding-top: 50px;
  position: relative;
  float: right;
}

#rightmenu {
  padding: 0 0 1em 0;
  margin-bottom: 1em;
  font-family: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
  background-color: #F2F2F2;
  color: #0080FF;
}

* html #rightmenu {
  /*IE 6 only */
  width: 200px;
  /*Box model bug: 180px minus all left and right paddings for #rightmenu */
}

#rightmenu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
  }
  li {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
    font-size: 11px;
    a {
      display: inline-block;
      padding: 5px 20px 5px 15px;
      color: #666666;
      text-decoration: none;
      width: 165px;
    }
  }
}

html > body #rightmenu li a {
  /*Non IE6 width*/
}

#rightmenu li a:hover {
  background-color: #fff;
  color: #666666;
}

.blog_links {
  padding: 3px 15px;
  border-radius: 20px;
  box-shadow: 0px -2px 0px #c8c9ca;
  color: #666666;
  text-decoration: none;
  margin: 0 5px 0 0;
  font-weight: bold;
  background: #ffffff;
  background: -moz-linear-gradient(top, white 0%, #f4f5f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f5f5));
  &:hover {
    background: #f4f5f5;
  }
}

.orange_heading {
  color: #FF8800;
  font-family: "HelveticaNeue",Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: normal;
  font-weight: bold;
  padding: 20px 0 10px 0;
}
/* Utility
-----------------------------------------------------------------------------*/
.textAlignCenter{text-align:center;}
.centeredPadded{padding:0px 40px 0px 40px;}
.clear{clear:both;}
.nomargin{margin:0px !important;}

.pink{color:#FF3EA8;}
.orange{color:#FF8800;}
.blue{color:#0080FF !important;}
.blue2 {color: #0080FF;}
.gray{color:#B3B3B3;}
.chewy_text { font-family: 'chewy'; }
.float_left { float:left; }
.orange_text { color: #FF8530 !important; }
.dotted_border {  }
/* Invite Friend
-----------------------------------------------------------------------------*/
#overlay {
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;

    .overlay_inside{
        background-color: rgb(245,246,246);
        @include filter-gradient(#f5f6f6, #f5f6f6, horizontal);
        @include background-image(linear-gradient(left top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%));
        border-radius: 5px;
        box-shadow: 0 0 8px #000000;
        height: 90%;
        margin: 2.5% auto;
        max-height: 1024px;
        max-width: 1024px;
        position: relative;
        width: 70%;
        background-clip: padding-box;
        border: 8px solid transparent;
        position: relative;
    }
    .close_overlay {    
        background: url("closebox.png") repeat scroll 0 0 transparent;
        height: 30px;
        position: absolute;
        right: -17px;
        top: -17px;
        width: 30px;
        cursor: pointer;
    }
}

.hint {
    color: gray;
    display: block;
    font-size: 11px;
    margin: 0 0 0 10px;
}

.large_textfield {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 61%, #f2f1f1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(61%,#ffffff), color-stop(100%,#f2f1f1)); /* Chrome,Safari4+ */
  border: 1px solid #E6E6E6;
  border-radius: 2px 2px 2px 2px;
  height: 30px;
  vertical-align: middle;
  width: 180px; padding:0 10px; color:#808080; font-size:12px; font-family:sans-serif
}
/* CROSS MARK */
.remove:after,.remove:before {
  content: " ";
  left: 0;
  position: absolute;
  top: 50%;
}
.remove:before {
  background: none repeat scroll 0 0 transparent;
  border: 3px solid #C00000;
  border-radius: 16px 16px 16px 16px;
  height: 10px;
  left: 3px;
  margin-top: -8px;
  width: 10px;
}
.remove:after {
  @include transform(rotate( -45deg ));
  background: none repeat scroll 0 0 #C00000;
  height: 3px;
  left: 6px;
  margin-top: -2px;
  width: 11px;
}
/* KIDBOXES */ 
.links_display_block {
    a{ display: inline-block;}
    img{ width: 152px; }
}

/* MESSAGING FORM INSIDE OVERLAY */
#overlay .overlay_content {
    .message_form {
        &,form {
            width: 100%;
            margin: 0 auto;
        }
        .input { width: 100% }
        input[type='text'],textarea { width: 80%; border-radius: 5px; }
        textarea { height: 240px; }
        .action { margin-left: 110px; }
        .input:nth-child(3), .input:nth-child(4) {
            label { margin-top:10px; }
        }
        .error { color: #FF3DA3; font-family: chewy; display: block;margin-left: 125px; }
    }
}


/*.action { margin-top:10px; }*/

#error_explanation {
    h2 { color: red;}
    ul li { color: lighten(red,10%); padding: 0; margin:0; list-style-type: circle; }
}

/* LOGIN / REGISTRATION PAGE */
.avatar {
    form {
       .input.file { margin-top: 5px; width: 350px; }
       input[type='submit'] { margin-left: 72px; }
       input[type='submit'],.hint { margin-top: 10px; }
    }
}
.fields_float_left { 
    position:  relative;
    float: left;
    width: 310px;
    margin-top: 15px;
    .error {
        color: #FF3DA3;
        font-family: chewy;
        left: 130px;
        margin-top: 3px;
        position: absolute;
        top: 30px;
    }
}
.sign_up { 
    .input { 
        @extend .fields_float_left;  width: 345px;
        label { width: 100px; }
    } 
}

/*// SPOUSE PAGE*/
.spouse_form {
    form {
        label { width: 140px; }
    }
}

/*  CHILDREN PAGE */
.children_form { min-width: 630px;
    fieldset {
        .input { float: left; margin-top: 10px; width: 280px;}
        a { color: red; display: inline-block; margin: 15px 0 0 5px; }
        label { margin-top: 8px;  width: 50px; }
    }
    .add_child { margin-left: 65px;
        a {
            @extend .rounded;
            @extend .button;
            background: none repeat scroll 0 0 #FF8530;
            color: #fff;
            padding: 9px 20px;
        }
    }
    .favourites {
        .input { margin-left: 110px; 
            input { width: 498px }
        }
    }
}

/* ADD FAVOURITES PAGE*/
.favourites_form {
    form { width: 500px     }
    p { margin:0; }
    .input { 
        margin: 5px 0 50px 135px;
        input { width: 460px; }
    }
}

.favourites_form {
    form{
        ul{ margin: 5px 0 25px 60px; }
    }
}
.bordered_fieldset { border: 1px solid; border-radius: 4px; margin: 7px 0 10px 0; }

/* PROFILE PAGE */
.profile_image {
    left: 6px;
    position: absolute;
    top: 140px;
    img { width: 90px; }
}
.page_title { @extend h1.page_title }
.profile {  
    hr { color: #ccc; }
    .hint { margin: 0 0 0 90px; }
    .profile_fields { margin: 0 0 22px 76px; width: 582px; }
    .info { 
        .input { 
            @extend .fields_float_left;
            width: 290px;
        }
    }
    .spouse { float: left; width: 250px; margin-bottom: 12px;
        .input { width:250px; }
        input { width:150px; }
    }
    .children_form { 
        float: left; 
        min-width: 0px;
        margin-top: 10px;
        fieldset { padding: 0; margin: 0;
            .input:nth-child(1) { width: 255px;
                input { width:171px; }
            }
            .input:nth-child(2) { width: 184px;
                input { width:100px; }
            }
        }
    }
    .favourites_form { 
        ul{ margin-left:100px; }
    }
}
.friends {
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 5px 5px;
    max-height: 250px;
    overflow: auto;
    padding-top: 9px;
    position: absolute;
    right: 20px;
    top: 50px;
    width: 200px;
    fieldset { padding: 0;}
    h1 { margin: 0 0 10px 0; text-decoration: underline; text-align: center;}
    li { cursor: pointer; }
    a { color: #CCCCCC;  position: relative; padding-left: 25px;}
    .send_message { 
        @extend .button;
        @extend .rounded;
        background: none repeat scroll 0 0 #FB9B3A;
        color: #FFFFFF;
        margin: 10px 0 10px 50px;
        padding: 5px 10px;
    }
}

/* INVITATION PAGE */

.invitation {
    input[type="email"],textarea { width: 325px; }
    .send_invitaion { margin:13px 0 0 -100px; }
    .social_links { margin: 80px auto 0; width: 510px;
        a { margin: 0 35px; }
    }
    .add_from_social { 
        a { display: inline-block;
            img { width: 180px; }
        }
    }
}

/*  MESSAGES PAGE */
.inbox, .sent {
    max-height: 375px;
    overflow: auto;
    a { text-decoration: none;color: darken(#ccc, 20%); }
    table {
        &, td { border: 1px solid #ccc; }
        th:nth-child(1) { width: 150px; }
        th:nth-child(2) { width: 375px; }
        th:nth-child(3) { width: 85px; }
        tr td {
            padding: 0 2px;
            &:last-child { text-align: center; }
        }
    }
}
.inbox { margin-bottom: 55px }

/* SHOW MESSAGE */
.show_message {
    table {
        &, td { /*border: 1px solid #ccc;*/ }
        td { padding: 5px; }
        td:nth-child(odd) { width: 130px; text-align: right; }
    }
}

.contact_info {
    margin-top: 100px;
    .image { 
        background: url("logo.png") repeat scroll 0 -67.5px transparent;
        height: 42px;
        width: 173px;
    }
    .text {
        font-family: 'chewy';
        font-size: 28px;
        line-height: 30px;
        padding-top: 12px;
    }
}

/* FORGOT PASSWORD */
.forgot_password { position: relative;
    .error { display: block; color: #FF3DA3; font-family: chewy; margin-left: 95px;
        &:after { content: ' !'; }
     }
    label { margin-top: 8px; width: 65px; }
    .button { color: #FF3DA3; }
    .action { margin-left:170px; }
    .pink_dino { left: 330px; position: absolute; top: 13px; }
    .links{ margin-left: 15px;
        a { color: #FF46A5 }
    }
}

/*  NEWS LETTER */
.news_letter { position: relative;
    form {
        .input {
            input { width:230px; }
            .error { color: #FF3DA3; font-family: chewy; display:block;margin-bottom: -12px;margin-left: 127px; }
        }
        .action { margin-left:223px; }
    }
    .news_letter_image { position:absolute; right: 0; top: 105px; }
}


/* DASHBORAD SCREEN */

.page-options{padding:5px;margin:7px 0 0 20px;width:140px;background:#0080ff;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;position:relative;z-index:99;}
.page-options:hover{
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.page-options .my-page{background:url("arrow.png") no-repeat 20px 0px;padding-left:45px;}
.page-options a{float:left;color:#fff!important;display:block;}
.page-options a:hover{
	text-decoration:none;
}
.sub-option{display:none;
	position:absolute;
	left:0;
	padding-bottom:10px!important;
	background:url("dropdawn-bg.png");
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	top:28px;
}
.sub-option li{float:none;font-size:12px;padding:4px 0!important;width:87%;}
.page-options:hover > .sub-option{
	display:block;
        z-index:100;
}
#friend-requests{float:left;width:120px;}
#friend-requests p{margin:0;color:#0080ff;font-size:9px;font-weight:bold;line-height:12px;}
#friend-requests img{float:left;margin-right:5px;}
.connect-yes,
.connect-later{background:#0080ff;padding:0 3px;color:#fff;float:left;font-size:8px;text-transform:uppercase;line-height:14px;margin:0 0 3px 0;}



.full-box{width:100%;margin:0 auto;}
.half-box{width:45%;float:left;margin-right:10%;}
.one-third-box{width:320px;margin-right:20px;float:left;}
.last{margin-right:0;}

.pink{color:#ff3ea8;font-weight:normal;}
.blue{color:#0080ff;font-weight:normal;}
.orenge{color:#ff8800;font-weight:normal;}

.pink.box-title{background:url("title-bg-pink.png") no-repeat bottom left;}
.blue.box-title{background:url("title-bg-blue.png") no-repeat bottom left;}
.orenge.box-title{background:url("title-bg-orenge.png") no-repeat bottom left;}

.box-title.no-bottom{background:none;padding:0;}

.pink.box-title span,
.blue.box-title span,
.orenge.box-title span{padding:1px 12px; margin:0px 0 3px 10px;}
.pink.box-title span{background:url("title-arrow-pink.png") no-repeat center left;}
.blue.box-title span{background:url("title-arrow-blue.png") no-repeat center left;}
.orenge.box-title span{background:url("title-arrow-orenge.png") no-repeat center left;}


.box-title{
	font-family: Chewy;
    font-size: 24px;
    margin-bottom: 25px;
    text-decoration: none;
	letter-spacing:1px;
	padding-bottom:30px;
	line-height:30px;
}
.box{
	height:200px;
	margin:0 0 80px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding:5px;
}
.box a{text-decoration:none;}
.pink-box{border:solid 1px #ff3ea8;}
.blue-box{border:solid 1px #0080ff;}
.orenge-box{border:solid 1px #ff8800;}

.pink-box-name{background:#ff3ea8;color:#fff;}
.blue-box-name{background:#0080ff;color:#fff;}
.orenge-box-name{background:#ff8800;color:#fff;}

.box-name{
	padding:10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size:14px;
	margin:0;
}


.slider-nav{text-align:center;padding:0;}
.slider-nav li{display:inline-block; margin:3px;padding:0;}
.slider-nav li a{background:url("slideer-bullets.png") center left no-repeat;height:15px;width:15px;float:left;}
.slider-nav li a.active{background-position:center right;}

.neighborhood{width:700px;margin:0 0 0 150px;float:left;}

.product-image{float:left;margin:10px;font-size:14px;}
.product-image img{margin-bottom:5px;}
.product-image a{color:#0080ff;text-decoration:none;}
.product-des{float:left;margin:10px;}
.product-des p a{color:#0080ff;text-decoration:none;font-weight:bold;margin:25px 0;float:left;}
.product-des a{margin-right:10px;}
.rate-it{color:#0080ff;}
.rate-it a{background:url("rate-icon.png") no-repeat center right;height:17px;width:18px;float:left;margin:0 0 0!important;}
a.rate-active{background-position:center left;}
.rating{display:none;clear:both;font-size:12px;text-align:center;color:#999;}
.rate-it:hover > .rating{display:block;}

.friend-image{float:left;width:125px;margin:80px 0 0 10px;}
.friend-image img{float:left;}
.friend-name{float:left;margin:0 5px 5px;font-size:12px;color:#ff3ea8;text-decoration:none;}
.connect-btn{float:left;color:#fff;background:#0080ff;padding:0 5px;text-decoration:none;margin:0px 5px 5px;font-size:12px;}

.msg-baloon{float:right;width:280px;margin:45px 10px;border:1px #ccc solid;position:relative;}
.msg-baloon p{margin:5px 10px;}
.msg-bottom{background:#ebebeb;padding:5px 10px;margin:20px 0 0;}
.replay-btn{background:#ff3ea8;-webkit-border-radius: 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;padding:3px 8px;font-size:11px;color:#fff;}
.replay-text{color:#0080ff;font-weight:bold;font-size:11px;float:right;}
.baloon-arrow{position:absolute;top:45px;left:-13px; background:url("bloon-arrow.png") no-repeat;height:17px;width:13px;}
.custom-btn{float:right;}

.kidbox .box-title{float:left;margin-right:40px;line-height:44px;}

.products-arrows{float:left;}
.prev{background:url("products-arrows.png");height:44px;width:44px;float:left;}
.next{background:url("products-arrows.png") center right;height:44px;width:44px;float:left;margin-left:15px;}

.product{float:left;margin:0 30px 50px 0;width:400px;}
.kidbox-product-img{float:left;}
.product-title{float:left;margin:10px 0 20px 20px;font-weight: bold;font-size:16px;width:320px}
.product .rate-it{margin:0 20px;float:left;height:40px;}

.comment-product{width:600px;margin:0 auto;padding:15px;}
.comment-product .product-info{float:left;margin:10px 10px 20px;font-size:16px;line-height:26px;}
#product-comment{}
#product-comment textarea{height:100px;width:600px;background:#fff;border:solid 1px #ccc;margin-bottom:10px;padding:10px;}
#product-comment input[type="submit"]{background:#0080ff;border:solid 1px #CCC;padding:10px 20px;color:#fff;font-size:16px;border-radius:5px;cursor:pointer;}


/* SLIDESHOW */

.msg_slideshow{
	width:435px;
	height:196px;
	padding:2px;
	position:relative;
	overflow:hidden;
	background:#101010 url("loading.gif") no-repeat center center;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.msg_slideshow a{
	outline:none;
}
.msg_slideshow a img{
	border:none;
}
.msg_wrapper{
	width:400px;
	height:400px;
	position:relative;
	margin:0;
	padding:0;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.msg_wrapper img{
	display: inline-block!important;
	vertical-align:middle;
	-moz-box-shadow:0px 0px 10px #000;
	-webkit-box-shadow:0px 0px 10px #000;
	box-shadow:0px 0px 10px #000;
}
.msg_controls{
	position:absolute;
	bottom:15px;
	right:-110px;
	width:104px;
	height:26px;
	z-index: 20;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#000;
	opacity:0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.msg_controls a{
	float:left;
	background-color:#000;
	width:20px;
	height:20px;
	margin:3px 3px;
	opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	background-repeat:no-repeat;
	background-position: center center;
}
.msg_controls a:hover{
	opacity:1.0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.msg_controls a.msg_grid{
	background-image:url("grid.png");
}
.msg_controls a.msg_prev{
	background-image:url("prev.png");
}
.msg_controls a.msg_next{
	background-image:url("next.png");
}
.msg_controls a.msg_pause{
	background-image:url("pause.png");
}
.msg_controls a.msg_play{
	background-image:url("play.png");
}
.msg_thumbs{
	background:#000;
	position:absolute;
	width:250px;
	height:166px;
	top:-230px;
	left:50%;
	padding:30px;
	margin:0 0 0 -155px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-box-shadow:1px 1px 5px #000;
	-webkit-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;
	opacity:0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	overflow:hidden;
}
.msg_thumb_wrapper{
	position:absolute;
	width:250px;
	height:166px;
	top:30px;
	left:30px;
	z-index:30;
}
.msg_thumb_wrapper a{
	display:block;
	width:75px;
	height:75px;
	float:left;
	margin:4px;
	opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.msg_thumbs a.msg_thumb_next,
.msg_thumbs a.msg_thumb_prev{
	width:18px;
	height:20px;
	background-repeat:no-repeat;
	background-position: center center;
	position:absolute;
	top:50%;
	margin-top:-10px;
	opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.msg_thumbs a.msg_thumb_next:hover,
.msg_thumbs a.msg_thumb_prev:hover{
	opacity:1.0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.msg_thumbs a.msg_thumb_next{
	background-image:url("next_thumb.png");
	right:5px;
}
.msg_thumbs a.msg_thumb_prev{
	background-image:url("prev_thumb.png");
	left:5px;
}
.msg_thumbs a.msg_thumb_close{
	position:absolute;
	bottom:0px;
	width:50px;
	left:50%;
	margin:0 0 0 -25px;
	background:#202020 url("up.png") no-repeat center center;
	height:16px;
	opacity:0.7;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.msg_thumbs a.msg_thumb_close:hover{
	opacity:1.0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.msg_loading{
	position:absolute;
	background:transparent url("loading.gif") no-repeat center center;
	top:50%;
	left:50%;
	width:50px;
	height:50px;
	margin:-25px 0 0 -25px;
	z-index:25;
	display:none;
}




