

/* line 11, ../../app/assets/stylesheets/style.css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E6E6E6;
    border-radius: 2px 2px 2px 2px;
    color: #808080;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    width: 180px;
}

/* line 21, ../../app/assets/stylesheets/style.css.scss */
ol, ul, .post ul, .post ol {
  list-style: none; 
}

/* line 26, ../../app/assets/stylesheets/style.css.scss */
.post {
  width: 465px;
  margin-top: 50px;
}

/* line 31, ../../app/assets/stylesheets/style.css.scss */
.post .faq span.plus {
  background: url(../assets/assets/faq-plus.png) no-repeat scroll 0 0 transparent;
  height: 44px;
  margin-left: 0;
  position: absolute;
  width: 16px;
}

/* line 39, ../../app/assets/stylesheets/style.css.scss */
form div.input {
  margin-top: 20px;
  width: 450px;
}

/* line 43, ../../app/assets/stylesheets/style.css.scss */
form div.radio_buttons label.radio {
  width: 20px;
  float: none;
}

/* line 48, ../../app/assets/stylesheets/style.css.scss */
.button {
  margin:10px 10px 10px 0;
}

/* line 52, ../../app/assets/stylesheets/style.css.scss */
label {
  float: left;
  padding: 0 1em;
  text-align: right;
 
}

/* line 60, ../../app/assets/stylesheets/style.css.scss */
textarea {
  height: 85px;
}

/* line 63, ../../app/assets/stylesheets/style.css.scss */


/* line 72, ../../app/assets/stylesheets/style.css.scss */
input.button.rounded.big, .button.rounded.blue.big, input.button.rounded.blue.big {
  background: #0080ff;
  color: white;
}

/* line 77, ../../app/assets/stylesheets/style.css.scss */
.button.rounded.blue:hover, input.button.blue.big.rounded:hover {
  background: none repeat scroll 0 0 #3994ee;
}

/* line 81, ../../app/assets/stylesheets/style.css.scss */
.post {
  width: 465px;
  margin-top: 50px;
}

/* line 87, ../../app/assets/stylesheets/style.css.scss */
.faq .question {
  color: #A2A2A2;
}

/* line 90, ../../app/assets/stylesheets/style.css.scss */
.faq .answer {
  display: none;
}

/* line 94, ../../app/assets/stylesheets/style.css.scss */
.faq.active .answer {
  display: block;
}

/* line 98, ../../app/assets/stylesheets/style.css.scss */
.faq .question span {
  color: #A2A2A2;
  margin-left: 30px;
  margin-right: 30px;
}

/* line 104, ../../app/assets/stylesheets/style.css.scss */
.categories {
  background: none repeat scroll 0 0 #f2f2f2;
  display: inline-block;
  margin-top: 37px;
  min-height: 600px;
  padding: 16px;
  vertical-align: top;
  width: 150px;
}

/* line 114, ../../app/assets/stylesheets/style.css.scss */
.categories ul li, .categories ul li a {
  list-style: none;
  font-family: 'sans-serif';
  text-transform: uppercase;
  margin: 0px;
  font-size: 16px;
  color: #A2A2A2;
  text-decoration: none;
}

/* line 125, ../../app/assets/stylesheets/style.css.scss */
.read_more {
  color: #FB9B3A;
}

/* line 129, ../../app/assets/stylesheets/style.css.scss */
.share_this {
  margin-bottom: 15px;
}

/* line 133, ../../app/assets/stylesheets/style.css.scss */
h1.page_title, h1.page_title a {
  color: #FB9B3A;
  font-family: Chewy;
  font-size: 24px;
  margin-bottom: 25px;
  text-decoration: none;
}

/* line 140, ../../app/assets/stylesheets/style.css.scss */
blockquote, q {
  quotes: none;
}

/* line 143, ../../app/assets/stylesheets/style.css.scss */
:focus {
  outline: 0;
}

/* line 146, ../../app/assets/stylesheets/style.css.scss */
ins {
  text-decoration: none;
}

/* line 149, ../../app/assets/stylesheets/style.css.scss */
del {
  text-decoration: line-through;
}

/* line 152, ../../app/assets/stylesheets/style.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 156, ../../app/assets/stylesheets/style.css.scss */
html {
  height: 100%;
}

/* line 159, ../../app/assets/stylesheets/style.css.scss */
header, nav, section, article, aside, footer {
  display: block;
}

/* line 162, ../../app/assets/stylesheets/style.css.scss */
body {
  font: 13px/18px sans-serif;
  width: 100%;
  height: 100%;
  color: #808080;
}

/* line 168, ../../app/assets/stylesheets/style.css.scss */
a {
  color: blue;
  outline: none;
  text-decoration: underline;
}

/* line 173, ../../app/assets/stylesheets/style.css.scss */
a:hover {
  text-decoration: none;
}

/* line 176, ../../app/assets/stylesheets/style.css.scss */
p {
  margin: 0 0 18px;
}

/* line 179, ../../app/assets/stylesheets/style.css.scss */
img {
  border: none;
}

/* line 182, ../../app/assets/stylesheets/style.css.scss */
input {
  
}

/* line 185, ../../app/assets/stylesheets/style.css.scss */
#wrapper {
  width: 1000px;
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

@font-face {
  font-family: "Chewy";
  src: url("chewy.ttf");
}

/* Error and Success messages */
/* line 195, ../../app/assets/stylesheets/style.css.scss */
#flash_notice, #flash_alert {
  padding: 10px 5px;
  position: absolute;
}

/* line 196, ../../app/assets/stylesheets/style.css.scss */
#flash_notice {
  color: #FF3DA3;
}

/* line 197, ../../app/assets/stylesheets/style.css.scss */
#flash_alert {
  color: #FF3DA3;
  font-family: "Chewy";
}

/* Header
-----------------------------------------------------------------------------*/
/* line 200, ../../app/assets/stylesheets/style.css.scss */
#header {
  padding-top: 30px;
  padding-right: 0px;
  height: 20px;
  text-align: right;
}

/* line 206, ../../app/assets/stylesheets/style.css.scss */
.session_links {
  color: #B3B3B3;
  padding-right: 2px;
}

/* Sidebar
-----------------------------------------------------------------------------*/
/* line 209, ../../app/assets/stylesheets/style.css.scss */
.sidebar {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  height: 900px;
  background: url(../assets/sidebarBackground.png) no-repeat right top;
}

/* line 216, ../../app/assets/stylesheets/style.css.scss */
.sidebar.noborder {
  background: url(../assets/sidebarBackground.png) no-repeat right top !important;
  padding-right: 0px !important;
}

/* line 217, ../../app/assets/stylesheets/style.css.scss */
.logo {
  display: block;
  background: url(../assets/logo.png) no-repeat center center;
  width: 230px;
  height: 109px;
}

/* line 223, ../../app/assets/stylesheets/style.css.scss */
.menu {
  margin: 50px 10px 0px 0px;
}

/* line 224, ../../app/assets/stylesheets/style.css.scss */
.menu li {
  padding: 0px;
  height: 42px;
  background: url(../assets/menuBackground.png) no-repeat right center;
  vertical-align: middle;
  line-height: 42px;
  margin-bottom: -2px;
  padding-left: 35px;
  list-style-type: none;
}

/* line 234, ../../app/assets/stylesheets/style.css.scss */
.menu li a {
  color: #808080;
  text-decoration: none;
  font-family: "Chewy";
  font-size: 18px;
}

/* line 240, ../../app/assets/stylesheets/style.css.scss */
.menu li a:hover {
  color: #a2a2a2;
}

/* line 241, ../../app/assets/stylesheets/style.css.scss */
.twitterBox {
  background: url(../assets/twitterBoxBackground.png) no-repeat center top;
  width: 155px;
  height: 86px;
  margin: 200px 0px 0px 0px;
  color: #999999;
  font-size: 10px;
  padding: 15px 10px 20px 20px;
  line-height: 14px;
}

/* line 251, ../../app/assets/stylesheets/style.css.scss */
.twitterBox a {
  color: #999999;
}

/* Middle
-----------------------------------------------------------------------------*/
/* line 258, ../../app/assets/stylesheets/style.css.scss */
#content {
  padding: 0px 0 150px 0;
}

/* line 259, ../../app/assets/stylesheets/style.css.scss */
.content {
  display: inline-block;
  width: 672px;
  vertical-align: top;
  padding-top: 50px;
  position: relative;
  margin-left:20px
}

/* line 266, ../../app/assets/stylesheets/style.css.scss */
.contentBox {
  display: inline-block;
  min-width: 500px;
  overflow: hidden;
}

/* line 271, ../../app/assets/stylesheets/style.css.scss */
div.content.smaller {
    width: 650px;
}

/* line 272, ../../app/assets/stylesheets/style.css.scss */
.topGrayBox {
  background: url(../assets/topGrayBoxBackground.png) no-repeat left top;
  width: 400px;
  height: 190px;
  text-align: right;
  font-family: "Chewy";
  color: #fff;
  padding: 50px 20px 0px 0px;
  text-shadow: 2px 0px rgba(0, 0, 0, 0.2);
  margin-left: -10px;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 3px;
  display: inline-block;
  vertical-align: top;
}

/* line 288, ../../app/assets/stylesheets/style.css.scss */
.topGrayBox h2 {
  font-size: 32px;
  margin-top: 10px;
}

/* line 289, ../../app/assets/stylesheets/style.css.scss */
.topPhoto {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  margin-left: -5px;
  margin-top: 7px;
}

/* line 296, ../../app/assets/stylesheets/style.css.scss */
.topPhoto.bordered img {
  border: 15px solid #f1f1f1;
}

/* line 297, ../../app/assets/stylesheets/style.css.scss */
.topHeading {
  width: 340px;
  height: 190px;
  padding: 50px 20px 0px 0px;
  display: inline-block;
  vertical-align: top;
}

/* line 304, ../../app/assets/stylesheets/style.css.scss */
p.block {
  height: 60px;
}

/* line 305, ../../app/assets/stylesheets/style.css.scss */
.home {
  height: 900px;
  width: 50px;
  background: url(../assets/sidebarBackground.png) no-repeat center top;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

/* line 313, ../../app/assets/stylesheets/style.css.scss */
.homeIcon {
  background: url(../assets/homeIcon.png) no-repeat center top;
  width: 90px;
  height: 45px;
  position: absolute;
  top: 400px;
  display: block;
}

/* line 321, ../../app/assets/stylesheets/style.css.scss */
.homeIcon:hover {
  background-position: bottom;
}

/* line 322, ../../app/assets/stylesheets/style.css.scss */
.specialLaunchOffer {
  background: url(../assets/specialLaunchOffer.png) no-repeat center center;
  width: 189px;
  height: 141px;
  position: absolute;
  z-index: 100;
}

/* Content Separation
-----------------------------------------------------------------------------*/
/* line 332, ../../app/assets/stylesheets/style.css.scss */
.q3 {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
  width: 225px;
}

/* Content Styling
-----------------------------------------------------------------------------*/
/* line 341, ../../app/assets/stylesheets/style.css.scss */
ul li {
  padding: 7px 0px;
  margin-left: 20px;
  list-style-type: none;
}

/* Buttons
-----------------------------------------------------------------------------*/
/* line 349, ../../app/assets/stylesheets/style.css.scss */
.button {
  color: #B3B3B3;
  vertical-align: middle;
  padding:10px 13px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

/* line 357, ../../app/assets/stylesheets/style.css.scss */
.button img {
  vertical-align: middle;
  margin-right: 7px;
}

/* line 358, ../../app/assets/stylesheets/style.css.scss */
.button.edgy {
  border-radius: 2px;
  background-color: #F2F2F2;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  margin: -12px 20px 0px 0px;
}

/* line 364, ../../app/assets/stylesheets/style.css.scss */
.button.edgy.arrowed {
  background-image: url(../assets/arrowIcon.png);
  background-repeat: no-repeat;
  background-position: 96% center;
  text-align: left;
  margin-bottom: 25px;
  height: 25px;
  padding: 5px 13px;
}

/* line 373, ../../app/assets/stylesheets/style.css.scss */
.button.edgy.arrowed img {
  margin-left: 5px;
  margin-right: 10px;
}

/* line 374, ../../app/assets/stylesheets/style.css.scss */
.button.edgy:hover {
  background-color: #e9e9e9;
}

/* line 375, ../../app/assets/stylesheets/style.css.scss */
.button.rounded {
  border-radius: 7px;
  background: #F2F2F2;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  margin-right: 5px;
}

.blue_button {
  color: #fff;
  vertical-align: middle;
  padding:10px 13px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.blue_button.rounded {
  border-radius: 7px;
  background: #0080FF;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  margin-right: 5px;
}

.blue_button.rounded:hover {
  background: #e9e9e9; color:#000
}




/* line 381, ../../app/assets/stylesheets/style.css.scss */
.button.rounded.big {
  padding: 7px 30px;
}

/* line 382, ../../app/assets/stylesheets/style.css.scss */
.button.rounded:hover {
  background: #e9e9e9;
}

/* Icons
-----------------------------------------------------------------------------*/
/* line 385, ../../app/assets/stylesheets/style.css.scss */
.icon {
  display: inline-block;
  margin: 0px 10px;
}

/* line 386, ../../app/assets/stylesheets/style.css.scss */
.mail {
  background: url(../assets/mailIcon.png) no-repeat top;
  width: 20px;
  height: 19px;
}

/* line 387, ../../app/assets/stylesheets/style.css.scss */
.mail:hover {
  background-position: bottom;
}

/* line 388, ../../app/assets/stylesheets/style.css.scss */
.facebook {
    background: url("facebookIcon.png") no-repeat scroll center top transparent;
    height: 19px;
    width: 20px;
}

/* line 389, ../../app/assets/stylesheets/style.css.scss */
.facebook:hover {
  background-position: bottom;
}

/* line 390, ../../app/assets/stylesheets/style.css.scss */
.twitter {
  background: url(../assets/twitterIcon.png) no-repeat top;
  width: 23px;
  height: 17px;
}

/* line 391, ../../app/assets/stylesheets/style.css.scss */
.twitter:hover {
  background-position: bottom;
}

/* line 392, ../../app/assets/stylesheets/style.css.scss */
.pinterest {
  background: url(../assets/pinterestIcon.png) no-repeat top;
  width: 19px;
  height: 19px;
}

/* line 393, ../../app/assets/stylesheets/style.css.scss */
.pinterest:hover {
  background-position: bottom;
}

/* line 394, ../../app/assets/stylesheets/style.css.scss */
.blog {
  background: url(../assets/blogIcon.png) no-repeat top;
  height: 20px;
}

/* line 395, ../../app/assets/stylesheets/style.css.scss */
.blog:hover {
  background-position: bottom;
}

/* line 396, ../../app/assets/stylesheets/style.css.scss */
.blogSmall {
  background: url(../assets/blogSmallIcon.png) no-repeat top;
  width: 19px;
  height: 20px;
}

/* line 397, ../../app/assets/stylesheets/style.css.scss */
.blogSmall:hover {
  background-position: bottom;
}

/* Footer
-----------------------------------------------------------------------------*/
/* line 401, ../../app/assets/stylesheets/style.css.scss */
#footer {
  width: 1000px;
  margin: -100px auto 0;
  height: 100px;
  position: relative;
  color: #B3B3B3;
}

/* line 408, ../../app/assets/stylesheets/style.css.scss */
#footer ul li {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: inline;
  padding: 1px 15px;
  border-right: 1px solid #B3B3B3;
}

/* line 416, ../../app/assets/stylesheets/style.css.scss */
#footer ul li:last-child {
  border: 0px none;
  padding-right: 0px;
}

/* line 417, ../../app/assets/stylesheets/style.css.scss */
#footer ul li a {
  text-decoration: none;
  color: #B3B3B3;
}

/* line 418, ../../app/assets/stylesheets/style.css.scss */
#footer ul li a:hover {
  color: #787878;
}

/* line 419, ../../app/assets/stylesheets/style.css.scss */
.footerDivider {
  height: 1px;
  background: #B3B3B3;
  margin: 15px 0px;
}

/* line 420, ../../app/assets/stylesheets/style.css.scss */
#footer .q3 {
  margin: 0px;
  width: 330px;
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
}

/* Utility
-----------------------------------------------------------------------------*/
/* line 430, ../../app/assets/stylesheets/style.css.scss */
.textAlignCenter {
  text-align: center;
}

/* line 431, ../../app/assets/stylesheets/style.css.scss */
.centeredPadded {
  padding: 0px 40px 0px 40px;
}

/* line 432, ../../app/assets/stylesheets/style.css.scss */
.clear {
  clear: both;
}

/* line 433, ../../app/assets/stylesheets/style.css.scss */
.nomargin {
  margin: 0px !important;
}

/* line 435, ../../app/assets/stylesheets/style.css.scss */
.pink {
  color: #FF3EA8;
}

/* line 436, ../../app/assets/stylesheets/style.css.scss */
.orange {
  color: #FF8800;
}

/* line 437, ../../app/assets/stylesheets/style.css.scss */
.blue {
  color: #0080FF;
}

/* line 438, ../../app/assets/stylesheets/style.css.scss */
.gray {
  color: #B3B3B3;
}

/* line 439, ../../app/assets/stylesheets/style.css.scss */
.chewy_text {
  font-family: 'chewy';
}

/* line 440, ../../app/assets/stylesheets/style.css.scss */
.float_left {
  float: left;
}

/* Invite Friend
-----------------------------------------------------------------------------*/
/* line 445, ../../app/assets/stylesheets/style.css.scss */
.input {
  margin-bottom: 10px;
}
/* line 447, ../../app/assets/stylesheets/style.css.scss */
.input input, .input textarea {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  border-radius: 3px 3px 3px 3px;
  font-size: 12px;
  padding: 8px;
  width: 335px;
}
/* line 461, ../../app/assets/stylesheets/style.css.scss */
.input textarea {
  height: 100px;
}

/* line 464, ../../app/assets/stylesheets/style.css.scss */
.hint {
  color: gray;
  display: block;
  font-size: 11px;
  margin: 0 0 0 10px;
}

/* line 471, ../../app/assets/stylesheets/style.css.scss */
.send_invitaion {
  margin: 100px 0px 0px 10px;
}



.breadcrumb{ font-family:"Helvetica Neue",Arial, Helvetica, sans-serif; font-size:12px
}

.breadcrumb a{
background: transparent url(../assets/breadcrumb.png) no-repeat center right;
text-decoration: none;
padding-right: 10px; /*adjust bullet image padding*/
color: #b3b3b3;
}

.breadcrumb a:visited, .breadcrumb a:active{
color: #b3b3b3; 
}

.breadcrumb a:hover{
text-decoration: underline;
}

.breadcrumb_current{ background:#e6e6e6; color:#999999; padding:1px 5px; margin:0 0 0 5px}

.blue_heading{ font-family:"Chewy",Arial, Helvetica, sans-serif; font-size:21px; float:left; color:#0080ff; width:100%; margin:20px 0}
.blue_heading1{font-size:14px; font-weight:bold; float:left; color:#0080ff; width:100%; margin:0 0 10px 0}
.blue_heading2{font-size:14px; font-weight:bold; float:left; color:#0080ff; width:100%; margin:30px 0 10px 0}

.blue_heading3{font-size:14px; font-weight:bold; color:#0080ff}

.black_heading{font-size:14px; font-weight:bold; color:#4D4D4D;}

.blue_link{font-size:14px; font-weight:bold; color:#0080ff; text-decoration:underline}
.blue_link:hover{text-decoration: none}

.blue_link2{font-size:11px; font-weight:bold; color:#0080ff; text-decoration:underline}
.blue_link2:hover{text-decoration: none}

.optionrow1{ width:100%; height:auto; float:left; font-size:13px}
.optionrow2{ width:100%; height:auto; float:left; font-size:13px; margin:10px 0}
.optioncoloum1 {
    float: left;
    font-weight: bold;
    height: auto;
    margin: 0 15px 0 0;
    width: 185px;
}
.optioncoloum_last{ width:220px; height:auto; float:left; font-weight:bold}
.description { width:70%; height:auto; float:left; font-size:13px; padding:10px 0; line-height:24px; border-bottom:1px dotted #808080}

.leftcoloum{ width:110px; height:auto; float:left; margin:0 10px 0 0;}
.rightcoloum{ width:300px; height:auto; float:left; margin:0 10px 0 0;}

.blue_button input {
    background: none repeat scroll 0 0 #0080FF;
    border: medium none;
    color: #FFFFFF;
    padding: 0;
}

.blue_button:hover {
    background: none repeat scroll 0 0 #E9E9E9;
}

.c_optioncoloum {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 330px;
}
.d_optioncoloum {
    float: left;
    height: auto;
    width: 275px;
}

.radiocolumn_value.small{
  font-size: 9px;
}

.radiocolumn{ width:30px; height:auto; float:left;}
.radiocolumn_value{ width:auto; height:auto; float:left; font-size:12px; font-weight:bold}
.small_value{float:left; font-size:10px; clear:left}

.NFRadio {cursor:pointer; position:absolute; display:block; width:13px; height:13px; border:1px solid transparent; background:url(../assets/radio.png) no-repeat 0 0; z-index:2;}
.NFRadio:active{background:url(../assets/radio.png) no-repeat 0 -10px; z-index:2;}

/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #999999;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
	display: inline-block;
	position: relative; margin:2px 0 0 0
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 10px;
	height: 10px;
	position: absolute;
	top: 2px;
	background: #008DF2;
	text-shadow: 0px;
	left: 2px;
	font-size: 32px;
}

.regular-radio:checked + label {
	
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	width: 1px;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 25px;
	position: absolute;
	top: -3px;
	left: 0px;
	color: #0080FF;
}

.large_textfield {
	 background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left, #ffffff 61%, #f2f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(61%,#ffffff), color-stop(100%,#f2f1f1)); /* Chrome,Safari4+ */
  	border: 1px solid #E6E6E6;
  	border-radius: 2px 2px 2px 2px;
  	height: 30px;
  	vertical-align: middle;
 	width: 180px; padding:0 10px; color:#808080; font-size:12px; font-family:sans-serif
}


.card_bg{
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #E6E6E6;
  border-radius: 2px 2px 2px 2px;
  height: auto;
  vertical-align: middle;
  width: 180px; padding:5px 10px 0 10px;
}

.card_rb{ margin:0; padding:0; position:relative; top:-3px}
