= f.simple_fields_for :profile do |p|
  = p.input :display_name
  = p.input :phone_cell, label: 'Contact Number'
  = p.input :first_name
  = p.input :last_name
  = p.input :street_address, label: 'Address'
  = p.input :postal_code, label: 'Zip Code'
  = p.input :city, label: 'City'
  .input.string.required
    = p.label 'State'
    .state_id
      = p.grouped_collection_select :state_id, Country.order(:name).where(:id => 1228), :states, :name, :id, :name
  .input.string.required.clear
    = p.label 'Country'
    .country_id
      = p.collection_select :country_id, Country.order(:name).where(:id => 1228), :id, :name#, include_blank: true
  = p.input :i_am, :collection => ['MOM', 'DAD'],  label: 'I am', :include_blank => false
  = p.input :birthday, as: :string, placeholder: 'MM/DD', label: 'Your Birthday'
