-@settings = Setting.first
%html
  %head
  %body
    %img{:border => "0",:src => "#{root_url}/assets/logo.png"}
    %br
    %br

    %p 
      Welcome ( 
      %span{style: "color: #3f77bc; font-weight: bold"}
        = @resource.profile.full_name
      )!
    %br
    
    %p 
      Thank you for joining the Lalaalu community! Make sure to complete your profile and take advantage of all the site has to offer at 
      %a{href: root_url,style: "color: #ee489a"} www.lalaalu.com
      , including connecting with other city parents like you. We're adding features all the time, with a mission to make the lives of city parents easier, better and more fun!
    %br
    
    %p 
      Enjoy and don't forget to tell us (and your friends) what you think 
      %a{href: root_url,style: "color: #ee489a"} www.lalaalu.com.
    %br

    %p You can confirm your account email through the link below:
    %p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
    %br

    %p 
      Regards.
      %br
      \- Soniya and Nik
    %br

    %p 
      %span{style: "color: #f6891f"} P.S.
      it may not be too late to sign up for our subscription box (starting at only $22/month) at 
      %a{ href: root_url,style: "color: #ee489a" }www.lalaalu.com
      but they run out fast so don't wait too long.

    %hr{style: "color: #ccc; "}

    %p{align: "center", height: "260", width: "600", style: 'font-size: 11px'}
      Connect with us at www.lalaalu.com and on 
     
      %a{href: @settings.facebook_page, style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/facebook_icon.png", alt: 'Facebook',width: "20px", height: '20px'} 

      %a{href: @settings.pinterest_page, style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/pinterest_icon.png", alt: 'Pinterest',width: "20px", height: '20px'} 
    
      %a{:href => "https://twitter.com/#{@settings.twitter_page}", style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/twitter_icon.png", alt: 'Twitter',width: "20px", height: '20px'} 

      LalaaluFamily! 15 Broad St. Suite 3100, NY, 10005 | info@lalaalu.com