-@settings = Setting.first

%html
  %head
  %body
    %img{:border => "0",:src => "#{root_url}/assets/logo.png"}
    %br
    %br

    %p 
      Welcome ( 
      %span{style: "color: #3f77bc; font-weight: bold"}
        = @resource.profile.full_name
      )!
    %br
    
    %p Your account has been locked due to an excessive amount of unsuccessful sign in attempts.
	%p Click the link below to unlock your account:
	%p= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token)
    %br

    %p 
      Regards.
      %br
      \- Soniya and Nik
    %br

    %p 
      %span{style: "color: #f6891f"} P.S.
      it may not be too late to sign up for our subscription box (starting at only $22/month) at 
      %a{ href: root_url,style: "color: #ee489a" }www.lalaalu.com
      but they run out fast so don't wait too long.

    %hr{style: "color: #ccc; "}

    %p{align: "center", height: "260", width: "600", style: 'font-size: 11px'}
      Connect with us at www.lalaalu.com and on 
     
      %a{href: @settings.facebook_page, style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/facebook_icon.png", alt: 'Facebook',width: "20px", height: '20px'} 

      %a{href: @settings.pinterest_page, style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/pinterest_icon.png", alt: 'Pinterest',width: "20px", height: '20px'} 
    
      %a{:href => "https://twitter.com/#{@settings.twitter_page}", style: 'display:inline-block;'}
        %img{:border => "0",:src => "#{root_url}/assets/twitter_icon.png", alt: 'Twitter',width: "20px", height: '20px'} 

      LalaaluFamily! 15 Broad St. Suite 3100, NY, 10005 | info@lalaalu.com