
= simple_form_for [:admin ,@user] ,wrapper: :unicorn do |u|
  = u.error_notification
  = u.input :email, hint: 'Will be changed after confirmation.'

  = u.simple_fields_for :profile do |f|
    =# f.input :title
    = f.input :first_name
    = f.input :last_name
    = f.input :display_name
    =# f.input :sex,     :as => :radio_buttons, collection: ['Male', 'Female']
    =# f.input :hobbies
    = f.input :birthday, as: :string, :input_html => {:class => "datepicker", :readonly => true}
    = f.input :street_address, labe: 'Address'
    =# f.input :city
    =# f.input :state
    = f.input :postal_code
    =# f.input :phone_home
    = f.input :phone_cell, label: 'Contact No.'
    = f.input :i_am, label: 'I am MOM / DAD'
  = u.input :role, collection: [%w(SuperAdmin superadmin), %w(Admin admin), %w(User User)]
  - if @user.new_record?
    = u.input :password
    = u.input :password_confirmation
  .form-actions
    = styled_form_button( @user.new_record? ? 'create' : 'update')
    = styled_form_button 'reset'
