.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%th First Name
				%th Last Name
				%th Email
				%th Role
				%th Action
			%tbody
				- @users.each do |u|
					%tr
						%td= u.profile.first_name 
						%td= u.profile.last_name 
						%td= u.email
						%td.center_it= u.role.capitalize
						%td.center_it
							= styled_button 'show', admin_user_path(u)
							= styled_button 'edit', edit_admin_user_path(u)
							= styled_button 'delete', admin_user_path(u), method: :delete, confirm: 'Are You Sure!'

- content_for :pagination, (paginate @users, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_user_path)
