.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Email
				%td= mail_to @user.email
			-if @user.unconfirmed_email
				%tr
					%td New/Un-confirmed Email
					%td= mail_to @user.unconfirmed_email
			/ %tr
			/ 	%td Title
			/ 	%td= @user.profile.title
			%tr
				%td Display Name
				%td= @user.profile.display_name			
			%tr
				%td First Name
				%td= @user.profile.first_name
			%tr
				%td Last Name
				%td= @user.profile.last_name
			/ %tr
			/ 	%td Sex
			/ 	%td=# @user.profile.sex
			%tr
				%td Address
				%td= @user.profile.address
			%tr
				%td Birthday
				%td= @user.profile.make_birthday
			/ %tr
			/ 	%td Phone Home
			/ 	%td= @user.profile.phone_home
			%tr
				%td Contact No.
				%td= @user.profile.phone_cell
			%tr
				%td I am
				%td= @user.profile.i_am
			/ %tr
			/ 	%td Hobbies
			/ 	%td= @user.profile.hobbies
			%tr
				%td Spouse	
				%td
					- if @user.spouse 
						= link_to( @user.spouse.profile.full_name, admin_user_spouse_path(@user,@user.spouse), class: 'btn btn-mini')
			%tr
				%td No. of Children
				%td= @user.children.size
			%tr
				%td Children
				%td
					- @user.children.each do |child|
						= link_to( child.profile.full_name, admin_user_child_path(@user,child), class: 'btn btn-mini')
			%tr
				%td
				%td
					= styled_button 'edit', edit_admin_user_path(@user)
					= styled_button 'delete', admin_user_path(@user), method: :delete, confirm: 'Are You Sure!'


