= simple_form_for [ :admin, @package ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :name, as: :string
  = f.input :price 
  = f.input :trial_days
  = f.input :gift_it, as: :boolean
  .form-actions
    = @package.new_record? ? (styled_form_button 'create') : (styled_form_button 'update')
    = styled_form_button 'reset'