.widget-content.nopadding
  %table.table.table-bordered
    %tr
      %th Name
      %th Price
      %th Trial Days
      %th Actions
    - unless @packages.blank?
      - @packages.each do |package|
        %tr
          %td= h package.name
          %td= h package.price
          %td= h package.trial_days
          %td.center_it
            = styled_button 'show', admin_package_path(package)
            = styled_button 'edit', edit_admin_package_path(package)
            = styled_button 'delete', admin_brand_path(package), method: :delete, confirm: 'Are You Sure!'
    - else
      %tr
        %td{:colspan=>3} No records found

- content_for :pagination, (paginate @packages, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_package_path)
