= simple_form_for [ :admin, @subscription ], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :subscription, as: :string
  = f.input :duration, as: :integer     
  = f.input :price, as: :integer
  .form-actions
    = @subscription.new_record? ? (styled_form_button 'create') : (styled_form_button 'update')
    = styled_form_button 'reset'