- content_for :title, 'Edit Subscription'
.widget-content.nopadding
	= render 'form'

.form_nav
	= styled_button 'show', admin_subscription_path(@subscription)
	= styled_button 'back', admin_subscription_path
