.widget-content.nopadding
  %table.table.table-bordered
    %tr
      %th Name
      %th Duration
      %th Price
      %th Action
    - unless @subscriptions.blank?
      - @subscriptions.each do |subscription|
        %tr
          %td= h subscription.subscription
          %td= h subscription.duration
          %td= h subscription.price
          %td.center_it
            = styled_button 'show', admin_subscription_path(subscription)
            = styled_button 'edit', edit_admin_subscription_path(subscription)
            = styled_button 'delete', admin_subscriptions_path(subscription), method: :delete, confirm: 'Are You Sure!'
    - else
      %tr
        %td{:colspan=>3} No records found


- content_for :new_record, (styled_button 'new', new_admin_subscription_path)
