.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Name
				%td= @subscription.name
			%tr
				%td Description
				%td= strip_tags @subscription.duration
			%tr
				%td
				%td
					= styled_button 'back', admin_subscriptions_path
					= styled_button 'edit', edit_admin_subscription_path(@subscription)
					= styled_button 'delete', admin_subscription_path(@subscription), method: :delete, confirm: 'Are You Sure!'


