.content.smaller
  .news_letter
    %h3.page_title Recieve Our Newsletter
    %p To recieve news and event updates from LaLaaLu by email, please complete your details below:

    = simple_form_for @letter do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      .action
        = f.submit 'Subscribe ->', class: 'button rounded orange_button'
    .news_letter_image
      = image_tag 'news_letter.png'