.content.smaller.invitation
  =# image_tag 'rsz_1invite_friend.png', width: '635'
  .blue_heading Invite Your Friends to Lalaalu
  .optionrow2
    %table{:border => "0", :cellpadding => "0", :cellspacing => "10", :width => "100%"}
      %tr
        %td{:align => "left", :valign => "top"}
          %img{:alt => "", :src => "/assets/invite_friends.png"}/
        %td{:align => "left", :valign => "top"}
          %p
            Like what you see?
          %p
            Have friends, kids, nieces or nephews that you think could beneﬁt from the
            %br
            LaLaaLu community? Invite them by entering your friends emails below.



  = simple_form_for [:users, @invitation] do |f|
    = f.error_notification

    = f.input :friend_email, label: false, placeholder: 'Email Address(s)', hint: 'Insert a comma between email addresses'
    = f.input :message, label: false, placeholder: 'Your Message(optional)', hint: '*optionally customize your message', wrapper_html: { class: 'float_left' }
    .send_invitaion.float_left
      = f.submit 'Send Invite ->', class: 'button orange rounded'
  .clear

  %table{style: 'margin:85px auto 0;'}
    %tr
      %td{:align => "left", :valign => "top"} like us on
      %td{:align => "left", :valign => "top"}
        %a.facebook_large.icon{:href => "#"}
      %td{:align => "left", :valign => "top"} recommend us on
      %td{:align => "left", :valign => "top"}
        %a.facebook_large.icon{:href => "#"}
      %td{:align => "left", :valign => "top"} tweet us on
      %td{:align => "left", :valign => "top"}
        %a.twitter_large.icon{:href => "#"}
      %td{:align => "left", :valign => "top"} follow us on
      %td{:align => "left", :valign => "top"}
        %a.pinterest_large.icon{:href => "#"}



  .social_links
    .add_from_social
      = link_to image_tag('facebook_link.png'), root_url, class: 'sendInvitatioFacebook'
      = link_to image_tag('twitter_link.png'), root_url