= simple_form_for [:admin, @coupon], wrapper: :unicorn do |f|
  = f.error_notification

  = f.input :name
  = f.input :discount
  = f.input :available, as: :radio_buttons
  = f.association :box
  .form-actions
    = @coupon.new_record? ? (styled_form_button 'create') : (styled_form_button 'update')
    = styled_form_button 'reset'