.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%th Name
				%th Discount
				%th available
				%th Box
				%th Action
			%tbody
				- @coupons.each do |coupon|
					%tr
						%td= coupon.name 
						%td= coupon.discount 
						%td.center_it= coupon.available ? 'Yes' : 'No' 
						%td= coupon.box_id
						%td.center_it
							= styled_button 'show', admin_coupon_path(coupon)
							= styled_button 'edit', edit_admin_coupon_path(coupon)
							= styled_button 'delete', admin_coupon_path(coupon), method: :delete, confirm: 'Are You Sure!'

- content_for :pagination, (paginate @coupons, theme: :'twitter-bootstrap')
- content_for :new_record, (styled_button 'new', new_admin_coupon_path)
