.widget-content.nopadding
	%table.table.table-bordered
		%thead
			%tr
				%td Question
				%td= @coupon.name
			%tr
				%td Answer
				%td= @coupon.discount
			%tr
				%td Visible
				%td= @coupon.available ? 'Yes' : 'No'
			%tr
				%td
				%td
					= styled_button 'back', admin_coupons_path
					= styled_button 'edit', edit_admin_coupon_path(@coupon)
					= styled_button 'delete', admin_coupon_path(@coupon), method: :delete, confirm: 'Are You Sure!'


