!!!
%html{:lang => "en"}
	%head
		%title
			- title = content_for?(:title) ? yield(:title) : controller.controller_name.capitalize
			Admin - 
			= title

		%meta{:charset => "UTF-8"}/
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
		= stylesheet_link_tag "admin_application", :media => "all"
		= javascript_include_tag "admin_application"

	%body
		#header
			%h1
				= link_to 'Admin', "./dashboard.html"
		#search
			%input{:placeholder => "Search here...", :type => "text"}/
			%button.tip-right{:title => "Search", :type => "submit"}
				%i.icon-search.icon-white
		= render 'layouts/admin/usernav'
		= render 'layouts/admin/sidenav'

		/ #style-switcher
		/ 	%i.icon-arrow-left.icon-white
		/ 	%span Style:
		/ 	%a{:href => "#grey", :style => "background-color: #555555;border-color: #aaaaaa;"}
		/ 	%a{:href => "#blue", :style => "background-color: #2D2F57;"}
		/ 	%a{:href => "#red", :style => "background-color: #673232;"}
		
		#content
			#content-header
				%h1= title
				= render 'layouts/admin/commonFormElements'
			= render 'layouts/admin/currentnav'

			.container-fluid
				
				.row-fluid
					.span12
						= render 'layouts/admin/flash_messages'
						.widget-box
							.widget-title
								%span.icon
									%i.icon-align-justify
								%h5= title

							= yield
						= yield(:new_record) if content_for(:new_record)
						= yield(:pagination) if content_for(:pagination)

				.row-fluid
					#footer.span12
						= yield :footer
