= render 'layouts/public/header'
%body{:onload => "get_twitter('#{@settings.twitter_page}')"}
	#wrapper
		= render 'layouts/public/headerNav'
		#content
			= render 'layouts/public/sidebarNav'
			.contentBox
				= render 'layouts/public/flash_messages'
				= render 'layouts/public/currentNav'
				%br
				%br
				= yield
			- if 1==2 #unless is_home? || is_blog?
				.home
					= link_to '',root_url, class: 'homeIcon'
			- if is_blog?
				= render 'layouts/public/categories'
= render 'layouts/public/footer'