= render 'layouts/public/header'
%body{:onload => "get_twitter('#{@settings.twitter_page}')"}
  #wrapper.mylalaalu
    %header#header
      = render 'layouts/public/social_links'
    = render 'layouts/public/user/userNav'
    #content
      - unless is_dashboard?
        = render 'layouts/public/sidebarNav'
      .contentBox
        = render 'layouts/public/flash_messages'
        = render 'layouts/public/currentNav'
        %br
        = yield
      - unless is_home? || is_blog? || url_includes?('users')
        .home
          = link_to '',root_url, class: 'homeIcon'
      - if is_blog?
        = render 'layouts/public/categories'
= render 'layouts/public/footer'
