.content.smaller
	%h1.page_title.orange Join Cont'd
	.avatar#user_avatar
		= image_tag @user_current.profile.try(:avatar).present? ? @user_current.profile.avatar_url(:thumb).to_s : 'user-icon.png'

		= form_for(@user_current.profile, :as => "profile", :url => profile_path(@user_current.profile), :html => { :method => :put }) do |f|
			= f.file_field :avatar, :style => "display:none;"
			%a{:href => "#", :id => "upload_avatar_link", :style => 'color:#0083F6'} Upload new image

		.clear
		%br

	%h2 Optional information 
	%p (fill in to receive special offers and gifts from LaLaalu)
	.spouse_form
		= simple_form_for [:users, @spouse] do |f|
			= f.error_notification
				
			= render 'users/spouses/spouse_fields',f: f

			= f.submit "#{@spouse.new_record? ? 'Create' : 'Update'} Spouse", :class => "rounded button orange_button"
			= link_to 'Next ->', new_users_child_path, :class => "rounded button blue_button"

	%img{:src => "/assets/step2.png"}
