= f.input :first_name, label: "Partner's First Name"
= f.input :last_name, label: "Partner's Last Name"
= f.input :email, label: "Partner's Email"
= f.input :birthday, placeholder: 'MM / DD / YYYY', label: "Partner's Birthdate"